<ng-container>
    <div class="shadow rounded-lg sm:rounded-2xl bg-card">
        <div class="flex flex-col flex-auto items-center m-1 p-1 sm:p-10">
            <div class="w-full px-2 sm:px-0">
                <!-- Form -->
                <form>
                    <!-- Section -->
                    <div class="w-full pt-8 sm:pt-0">
                        <div class="text-xl">Manage your store view</div>
                        <div class="text-secondary">Simply manage you own store logo and banners.</div>
                    </div>
                     <!-- Plan -->
                    <!-- <div class="grid sm:grid-cols-3 gap-6 w-full mt-8">
                        <div class="sm:col-span-3">
                            <fuse-alert
                                [appearance]="'outline'"
                                [type]="'info'">
                                Changing the plan will take effect immediately. You will be charged for the rest of the current month.
                            </fuse-alert>
                        </div>
                    </div> -->
            
                    <div class="sm:grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <div class="col-span-4 sm:col-span-2">
                            <!-- Store Logo -->
                            <div class="w-full">
                                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                                    <mat-label class="font-medium">Store Logo</mat-label>
                                    <mat-toolbar>
                                        <input 
                                            class="text-sm" 
                                            matInput 
                                            type="text" 
                                            readonly 
                                            [value]="files[0].selectedFileNames ? files[0].selectedFileNames : 'Select Images'"/>
                                    </mat-toolbar>
                                    <input
                                        type="file"
                                        id="logo"
                                        name="logo"
                                        accept="image/*" multiple 
                                        (change)="selectFiles('LogoUrl',$event)"
                                    />
                                    <mat-icon
                                        matPrefix
                                        [svgIcon]="'mat_solid:image'">
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-label class="font-medium">Preview</mat-label>
                                <div class="my-2"></div>
                                <div class="p-8 border border-gray-300 rounded h-96">
                                    <div *ngIf="this.files[0].selectedFiles">
                                        <span *ngIf="this.files[0].selectedImageWidth && this.files[0].selectedImageHeight" class="block"><b>Uploaded Image Size</b>: {{ this.files[0].selectedImageWidth }} x {{ this.files[0].selectedImageHeight }} pixel </span>
                                        <span class="block"><b>Recommended Size</b>: {{ this.files[0].recommendedImageWidth }} x {{ this.files[0].recommendedImageHeight }} pixel </span>
                                    </div>
                                    <div *ngIf="this.files[0].fileSource">
                                        <!-- <div class="flex justify-center w-full">
                                            <ngx-gallery [options]="galleryOptions" [images]="galleryFaviconImages"></ngx-gallery>
                                        </div> -->
                                        <div class="flex w-full flex-auto">
                                            <img [src]="this.files[0].fileSource" class="object-scale-down h-52" />
                                            <mat-icon
                                                class="top-0 right-0 cursor-pointer"
                                                (click)="deleteLogo();"
                                                [svgIcon]="'heroicons_solid:x-circle'">
                                            </mat-icon>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- Store Favicon -->
                        <div class="col-span-4 sm:col-span-2">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full">
                                <mat-label class="font-medium">Favicon</mat-label>
                                <mat-toolbar>
                                    <input class="text-sm" matInput type="text" readonly [value]="this.files[3].selectedFileNames ? this.files[3].selectedFileNames : 'Select Images'"/>
                                </mat-toolbar>
                                <input
                                    type="file"
                                    id="bannerMobile"
                                    name="bannerMobile"
                                    accept="image/*" multiple 
                                    (change)="selectFiles('FaviconUrl',$event)"/>
                                <mat-icon
                                    matPrefix
                                    [svgIcon]="'mat_solid:image'">
                                </mat-icon>
                            </mat-form-field>
                            <div class="w-full">
                                <mat-label class="font-medium">Preview</mat-label>
                                <div class="my-2"></div>
                                <div class="p-8 border border-gray-300 rounded h-96">
                                    <div *ngIf="this.files[3].selectedFiles">
                                        <span *ngIf="this.files[3].selectedImageWidth && this.files[3].selectedImageHeight" class="block"><b>Uploaded Image Size</b>: {{ this.files[3].selectedImageWidth }} x {{ this.files[3].selectedImageHeight }} pixel </span>
                                        <span class="block"><b>Recommended Size</b>: {{ this.files[3].recommendedImageWidth }} x {{ this.files[3].recommendedImageHeight }} pixel </span>
                                    </div>
                                    <div *ngIf="this.files[3].fileSource">
                                        <!-- <div class="flex justify-center w-full">
                                            <ngx-gallery [options]="galleryOptions" [images]="galleryFaviconImages"></ngx-gallery>
                                        </div> -->
                                        <div class="flex w-full flex-auto">
                                            <img [src]="this.files[3].fileSource" class="object-scale-down h-52" />
                                            <mat-icon
                                                class="top-0 right-0 cursor-pointer"
                                                (click)="deleteFavicon();"
                                                [svgIcon]="'heroicons_solid:x-circle'">
                                            </mat-icon>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- Store Banner (Desktop) -->
                        <div class="col-span-4 sm:col-span-2">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full">
                                <mat-label class="font-medium">Store Banner (Desktop)</mat-label>
                                <mat-toolbar>
                                    <input class="text-sm" matInput type="text" readonly [value]="this.files[1].selectedFileNames ? this.files[1].selectedFileNames : 'Select Images'"/>
                                </mat-toolbar>
                                <input
                                    type="file"
                                    id="BannerDesktopUrl"
                                    name="BannerDesktop"
                                    accept="image/*" multiple 
                                    (change)="selectFiles('BannerDesktopUrl',$event)"
                                />
                                <mat-icon
                                    matPrefix
                                    [svgIcon]="'mat_solid:image'">
                                </mat-icon>
                            </mat-form-field>
                            <div class="w-full">
                                <mat-label class="font-medium">Preview</mat-label>
                                <div class="my-2"></div>
                                <div class="p-8 border border-gray-300 rounded h-auto">
                                    <ng-container *ngIf="this.files[1].fileSource">
                                        <span *ngIf="this.files[1].selectedImageWidth && this.files[1].selectedImageHeight" class="block"><b>Uploaded Image Size</b>: {{ this.files[1].selectedImageWidth }} x {{ this.files[1].selectedImageHeight }} pixel </span>
                                        <span class="block"><b>Recommended Size</b>: {{ this.files[1].recommendedImageWidth }} x {{ this.files[1].recommendedImageHeight }} pixel </span>
                                    </ng-container>
                                    <div class="flex justify-center w-full">
                                        <ngx-gallery [options]="galleryOptions" [images]="this.files[1].galleryImages"></ngx-gallery>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- Store Banner (Mobile) -->
                        <div class="col-span-4 sm:col-span-2">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full">
                                <mat-label class="font-medium">Store Banner (Mobile)</mat-label>
                                <mat-toolbar>
                                    <input class="text-sm" matInput type="text" readonly [value]="this.files[2].selectedFileNames ? this.files[2].selectedFileNames : 'Select Images'"/>
                                </mat-toolbar>
                                <input
                                    type="file"
                                    id="BannerMobileUrl"
                                    name="BannerMobile"
                                    accept="image/*" multiple 
                                    (change)="selectFiles('BannerMobileUrl',$event)"/>
                                <mat-icon
                                    matPrefix
                                    [svgIcon]="'mat_solid:image'">
                                </mat-icon>
                            </mat-form-field>
                            <div class="w-full">
                                <mat-label class="font-medium">Preview</mat-label>
                                <div class="my-2"></div>
                                <div class="p-8 border border-gray-300 rounded h-auto">
                                    <ng-container *ngIf="this.files[2].fileSource">
                                        <span *ngIf="this.files[2].selectedImageWidth && this.files[2].selectedImageHeight" class="block"><b>Uploaded Image Size</b>: {{ this.files[2].selectedImageWidth }} x {{ this.files[2].selectedImageHeight }} pixel </span>
                                        <span class="block"><b>Recommended Size</b>: {{ this.files[2].recommendedImageWidth }} x {{ this.files[2].recommendedImageHeight }} pixel </span>
                                    </ng-container>
                                    <div class="flex justify-center w-full">
                                        <ngx-gallery [options]="galleryOptionsBannerMobile" [images]="this.files[2].galleryImages"></ngx-gallery>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-6 pb-8 sm:pb-0 flex items-center justify-end">
                        <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            (click)="updateStoreAsset()"
                            [color]="'primary'">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>