<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-2xl sm:text-4xl font-extrabold tracking-tight">Discount Banner Management</div>
    </div>
    <div class="sm:m-10 px-5">
        <div class="w-full">
            <!-- <mat-label class="font-medium">Upload File</mat-label> -->
            <div class="my-2"></div>
            <div class="sm:p-6 sm:border border-gray-300 rounded h-auto">
                <div class="w-full">
                    <mat-form-field class="fuse-mat-emphasized-affix w-full">
                        <mat-label class="font-medium">Discount Banner</mat-label>
                        <span class="w-30 leading-3 text-sm font-bold">Add Image</span>
                        <div class="flex flex-row w-full items-center ">
                            <div class="truncate flex flex-col w-full h-12 p-0 m-0 leading-3 justify-center items-center">
                                <span class="hidden sm:block text-xs text-gray-400 p-0 m-0">Image Size : Max 2MB, Resolution: 500 x 500 px</span>
                            </div>
                            <div *ngIf="this.files.galleryImages.length < 1">
                                <input
                                    id="add-BannerDesktop-btn"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    accept="image/*" multiple 
                                    [multiple]="false"
                                    (change)="selectFiles($event)"
                                    >
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer"
                                    for="add-BannerDesktop-btn"
                                    matRipple>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                </label>    
                            </div>
                            <div *ngIf="this.files.galleryImages.length > 0">
                                <input
                                    id="edit-BannerDesktop-btn"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    accept="image/*" multiple 
                                    [multiple]="false"
                                    (change)="selectFiles($event)"
                                    >
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer"
                                    for="edit-BannerDesktop-btn"
                                    matRipple>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                </label>
                            </div>
                        </div>
                        <mat-toolbar class="hidden w-0 h-0">
                            <input matInput type="text" readonly/>
                        </mat-toolbar>
                        <mat-icon
                            matPrefix
                            [svgIcon]="'mat_solid:image'">
                        </mat-icon>
                    </mat-form-field>
                    <div class="w-full">
                        <mat-label class="font-medium">Preview</mat-label>
                        <div class="my-2"></div>
                        <div class="p-8 border border-gray-300 rounded h-auto">
                            <ng-container *ngIf="this.files.fileSource">
                                <span *ngIf="this.files.selectedImageWidth && this.files.selectedImageHeight" class="block text-sm"><b>Uploaded Image Size</b>: {{ this.files.selectedImageWidth }} x {{ this.files.selectedImageHeight }} pixel </span>
                                <span class="block text-sm"><b>Recommended Size</b>: {{ this.files.recommendedImageWidth }} x {{ this.files.recommendedImageHeight }} pixel </span>
                            </ng-container>
                            <div class="flex justify-center w-full">
                                <ngx-gallery style="z-index: 0;" [options]="galleryOptions" [images]="this.files.galleryImages"></ngx-gallery>
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
        <!-- Actions -->
        <div class="mt-6 pb-8 sm:pb-0 flex items-center justify-end">
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                (click)="updateDiscountBannerAssets()"
                [color]="'primary'">Save
            </button>
        </div>
    </div>
</div>
