<div class="flex flex-col max-w-256 lg:min-w-256 -m-6 px-4 overflow-hidden">
    <form
        class="flex flex-col w-full"
        [formGroup]="horizontalStepperForm">
        <mat-horizontal-stepper
            [linear]="true"
            #horizontalStepper>

            <!-- SECTION FOR ORDER DISCOUNT -->
            <mat-step
                [formGroupName]="'step1'"
                [stepControl]="horizontalStepperForm.get('step1')"
                #horizontalStepperStep1>
                <ng-template matStepLabel>Order Discount</ng-template>
                <div class="content flex flex-col h-full sm:h-auto mb-3 w-full overflow-hidden sm:overflow-y-auto">
                    <!-- discount name -->
                    <mat-form-field 
                        appearance="fill"
                        class="w-full fuse-mat-emphasized-affix">
                        <mat-label>Discount Name</mat-label>
                        <input 
                            matInput
                            placeholder="Enter discount name"
                            [formControlName]="'discountName'"        
                        >
                        <mat-icon
                            *ngIf="currentScreenSize.includes('sm') ? true : false"
                            matPrefix
                            [svgIcon]="'heroicons_outline:tag'">
                        </mat-icon>
                    </mat-form-field>

                    <!-- capped amount status discounton  -->
                    <div class="w-full">
                        <!-- capped amount-->
                        <mat-form-field 
                            appearance="fill"
                            class="w-full sm:w-1/3 sm:pr-2 fuse-mat-emphasized-affix">
                            <mat-label>Capped amount</mat-label>
                            <input 
                                matInput
                                placeholder="Enter Maximum discount amount"
                                type="number"
                                [formControlName]="'maxDiscountAmount'"
                            >
                            <mat-icon
                                *ngIf="currentScreenSize.includes('sm') ? true : false"
                                matPrefix
                                [svgIcon]="'heroicons_outline:currency-dollar'">
                            </mat-icon>
                        </mat-form-field>
                        <!-- status -->
                        <mat-form-field 
                            appearance="fill"
                            class="w-full sm:w-1/3 sm:pr-2 fuse-mat-emphasized-affix">
                            <mat-label>Status</mat-label>
                            <mat-select
                                class="w-full"
                                placeholder="Select status"
                                [formControlName]="'isActive'"
                                >
                                <div>
                                    <mat-option [value]="true">Active</mat-option>
                                    <mat-option [value]="false">Inactive</mat-option>
                                </div>
                            </mat-select>
                            <mat-icon
                                *ngIf="currentScreenSize.includes('sm') ? true : false"
                                matPrefix
                                [svgIcon]="'heroicons_outline:question-mark-circle'">
                            </mat-icon>
                        </mat-form-field>
                        <!-- discount on -->
                        <mat-form-field 
                            appearance="fill"
                            class="w-full sm:w-1/3 fuse-mat-emphasized-affix">
                            <mat-label>Discount on</mat-label>
                            <mat-select
                                class="w-full"
                                [formControlName]="'discountType'"
                                placeholder="Select discount to be applied">
                                <div>
                                    <mat-option [value]="'SHIPPING'">Shipping</mat-option>
                                    <mat-option [value]="'TOTALSALES'">Total Sales</mat-option>
                                </div>
                            </mat-select>
                            <mat-icon
                                *ngIf="currentScreenSize.includes('sm') ? true : false"
                                matPrefix
                                [svgIcon]="'mat_outline:confirmation_number'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
            
                    <!-- start date/time -->
                    <div class="w-full flex flex-col">
                        <div class="font-semibold mb-2 w-full">Start date/time</div>
                        <div class="w-full flex flex-col sm:flex-row">
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pr-2 fuse-mat-emphasized-affix"
                                appearance="fill">
                                <input 
                                    matInput 
                                    type="date" 
                                    [formControlName]="'startDate'"
                                >
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:calendar'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pl-2 fuse-mat-emphasized-affix" 
                                appearance="fill">
                                <time-selector
                                    class="w-full"
                                    matInput
                                    type="time" 
                                    [formControlName]="'startTime'"                   
                                ></time-selector>
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:clock'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
            
                    <!-- End date /time -->
                    <div class="w-full flex flex-col">
                        <div class="font-semibold mb-2 w-full">End date/time</div>
                        <div class="w-full flex flex-col sm:flex-row">
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pr-2 fuse-mat-emphasized-affix"
                                appearance="fill">
                                <input 
                                    matInput 
                                    type="date" 
                                    [formControlName]="'endDate'"
                                >
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:calendar'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pl-2 fuse-mat-emphasized-affix" 
                                appearance="fill">
                                <time-selector
                                    class="w-full"
                                    matInput
                                    type="time" 
                                    [formControlName]="'endTime'"                   
                                ></time-selector>
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:clock'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- toogle normal  price -->
                    <mat-slide-toggle
                        [color]="'primary'"
                        [formControlName]="'normalPriceItemOnly'"
                        [matTooltip]="'To enable normal price if there is already discount applied'">
                        Normal Price
                    </mat-slide-toggle>
                </div>

                <!-- Cancel, Next button -->
                <div class="flex justify-end">
                    <!-- Flash message -->
                    <!-- <div
                        class="flex items-center mr-4"
                        *ngIf="flashMessage">
                        <ng-container *ngIf="flashMessage === 'success'">
                            <mat-icon
                                class="text-green-500"
                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2">Product created</span>
                        </ng-container>
                        <ng-container *ngIf="flashMessage === 'error'">
                            <mat-icon
                                class="text-red-500"
                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span class="ml-2">An error occurred, try again!</span>
                        </ng-container>
                    </div> -->
                    <!-- Cancel button -->
                    <button
                        mat-flat-button
                        class="w-24 mr-2 bg-gray-300 hover:bg-gray-500 border border-gray-500"
                        [color]="'gray'"
                        (click)="cancel()"
                        >
                        Cancel
                    </button>
                    <!-- Next variant button -->
                    <button
                        class="w-24"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext>
                        Next
                    </button>
                    <!--[disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid" -->
                    <!-- Create button -->
                    <!-- <button
                        *ngIf="addProductForm.get('step1').get('isVariants').value === false && productType != 'combo'"
                        class="w-24"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                        type="button"
                        (click)="addNewProductMethod()"
                        matStepperNext>
                        Create
                    </button> -->
                </div>
            </mat-step>

            <!-- SECTION FOR TIER -->
            <mat-step
                formArrayName="step2"
                [stepControl]="horizontalStepperForm.get('step2')"
                #horizontalStepperStep2>
                <ng-template matStepLabel>Tier</ng-template>
                <!-- <p class="my-6 font-medium">
                Insert Tier List
                </p> -->
                <div class="content flex flex-col h-full sm:h-auto sm:flex-row mb-3 w-full overflow-hidden sm:overflow-y-auto">
                    <!-- Add discount Tier -->
                    <fieldset class="border border-solid border-gray-300 rounded p-2 w-full sm:w-1/3 sm:mr-2 mb-2 sm:mb-0">
                        <legend class="text font-bold px-2">Add Discount Tier</legend>
                        <!-- Insert discount tier -->
                        <div class="flex flex-col">

                            <!-- Min Sub Total, Discount Amount -->
                            <div class="flex flex-row sm:flex-col">
                                <!-- Min Sub Total -->
                                <div class="flex flex-col w-1/2 sm:w-full mr-1 sm:mr-0">
                                    <div class="flex flex-row w-full items-center">
                                        <mat-label class="flex">Min Order Amount</mat-label>
                                        <mat-icon
                                            matTooltip="Setting a wholesale minimum order subtotal ensures that wholesale order at the minimum amount required in order to activate wholesale pricing."
                                            class="flex items-center transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </div>
                                    <mat-form-field appearance="fill" class="flex flex-col w-full fuse-mat-emphasized-affix">
                                        <input
                                            type="number"
                                            placeholder="Insert Mininum Subtotal"
                                            matInput
                                            [(ngModel)]="startTotalSalesAmount"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="validateDiscountTier('startTotalSalesAmount',$event.target.value)"
                                        >
                                        <mat-icon
                                            *ngIf="currentScreenSize.includes('sm') ? true : false"
                                            matPrefix
                                            [svgIcon]="'heroicons_outline:currency-dollar'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                        
                                <!-- Discount Amount -->
                                <div class="flex flex-col w-1/2 sm:w-full ml-1 sm:ml-0">
                                    <div class="flex flex-row w-full items-center">
                                        <mat-label class="flex">Discount Amount</mat-label>
                                        <mat-icon
                                            matTooltip="Discount amount is to be key in"
                                            class="flex items-center transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </div>
                                    <mat-form-field appearance="fill" class="w-full fuse-mat-emphasized-affix">
                                        <input
                                            type="number"
                                            placeholder="Insert Discount Amount"
                                            matInput
                                            [(ngModel)]="discountAmount"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="validateDiscountTier('discountAmount',$event.target.value)"
                                            >
                                        <mat-icon
                                            *ngIf="currentScreenSize.includes('sm') ? true : false"
                                            matPrefix
                                            [svgIcon]="'mat_outline:confirmation_number'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- calculation type -->
                            <div class="flex flex-col w-full">
                                <div class="flex flex-row w-full items-center">
                                    <mat-label class="flex">Type</mat-label>
                                    <mat-icon
                                        matTooltip="Claculation type selection is to choose what type of discount calculation type need to be applied"
                                        class="flex items-center transform scale-75"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'">
                                    </mat-icon>
                                </div>
                                <mat-form-field appearance="fill" class="w-full fuse-mat-emphasized-affix">
                                    <mat-select
                                        class="w-full"
                                        placeholder="Choose Calculation Type"
                                        [(ngModel)]="calculationType"
                                        [ngModelOptions]="{standalone: true}"
                                        (selectionChange)="validateDiscountTier('calculationType' ,$event.value)"
                                        >
                                        <div>
                                            <mat-option [value]="'PERCENT'">Percentage</mat-option>
                                            <mat-option [value]="'FIX'">Fix</mat-option>
                                        </div>
                                    </mat-select>
                                    <mat-icon
                                        *ngIf="currentScreenSize.includes('sm') ? true : false"
                                        matPrefix
                                        [svgIcon]="'list'">
                                    </mat-icon>
                                </mat-form-field>
                            </div>                                

                            <!-- Dbuttons Insert Discount Tier-->
                            <div class="flex flex-row w-full justify-end"> 
                                <button
                                    class="text-white"
                                    type="button"
                                    mat-flat-button
                                    [disabled]="!isDisplayAddTier"
                                    (click)="insertTierToDiscount()"
                                    [color]="'primary'">
                                    <span class="pr-2">Add Tier</span>
                                    <mat-icon
                                        class="text-white icon-size-5"
                                        [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </fieldset> 
                    <!-- Discount tier list -->
                    <fieldset class="border border-solid border-gray-300 rounded p-2 w-full sm:w-2/3">
                        <legend class="text font-bold px-2">Discount Tier List</legend>

                        <div class="flex flex-col w-full">
                            <ng-container>
                                <div class="grid overflow-auto rounded">
                                    <!-- Header -->
                                    <div
                                        class="edit-order-discount-grid sticky grid gap-1 sm:gap-4 py-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        matSort
                                        matSortDisableClear>
                                        <div class="hidden sm:block"></div>
                                        <div
                                            [mat-sort-header]="'min-order'">
                                            Min Order Amount
                                        </div>
                                        <div 
                                            [mat-sort-header]="'discount-amount'">
                                            Discount Amount
                                        </div>
                                        <div
                                            [mat-sort-header]="'type'">
                                            Type
                                        </div>
                                        <div>
                                            Action
                                        </div>
                                    </div>
                                    <!-- Rows -->
                                    <div 
                                        class="h-72 overflow-y-auto">
                                        <div *ngFor="let discountTier of horizontalStepperForm.get('step2')['controls']; let i = index;" [formGroupName]="i">
                                            <!-- Variant Header -->
                                            <div class="edit-order-discount-grid grid items-center gap-4 mt-4 border-b">      
                                                <div class="hidden sm:block"></div>                              
                                                <!-- Min Order Amount -->
                                                <div class="truncate">
                                                    <mat-form-field class="w-full text-center"
                                                        [ngClass]="{'text-gray-400' : !storeDiscountTierListValueEditMode[i]}">
                                                        <span matPrefix 
                                                            *ngIf="currentScreenSize.includes('sm') ? true : false"
                                                            [ngClass]="{'text-black' : storeDiscountTierListValueEditMode[i]}">
                                                            {{store$.regionCountry.currencySymbol}}
                                                        </span>
                                                        <input
                                                            type="number"
                                                            required
                                                            matInput
                                                            [formControlName]="'startTotalSalesAmount'"
                                                            [readonly]="!storeDiscountTierListValueEditMode[i]"
                                                        >
                                                    </mat-form-field>
                                                </div>
            
                                                <!-- Discount Amount -->
                                                <div class="truncate">
                                                    <mat-form-field class="w-full text-center"
                                                        [ngClass]="{ 'text-left' : discountTier.value.calculationType === 'FIX',
                                                                        'text-right' : discountTier.value.calculationType === 'PERCENT',
                                                                        'text-gray-400' : !storeDiscountTierListValueEditMode[i]}">
                                                        <input
                                                            type="number"
                                                            required
                                                            matInput
                                                            [formControlName]="'discountAmount'"
                                                            [readonly]="!storeDiscountTierListValueEditMode[i]"
                                                        >
                                                        <span matPrefix
                                                            *ngIf="currentScreenSize.includes('sm') === true && discountTier.value.calculationType === 'FIX'"
                                                            [ngClass]="{'text-black' : storeDiscountTierListValueEditMode[i]}">
                                                            {{store$.regionCountry.currencySymbol}}
                                                        </span>
                                                        <span matSufix *ngIf="currentScreenSize.includes('sm') === true && discountTier.value.calculationType === 'PERCENT'">%</span>
                                                    </mat-form-field>
                                                </div>

            
                                                <!-- Type -->
                                                <div>
                                                    <mat-form-field class="w-full">
                                                        <mat-select
                                                            class="w-full"
                                                            [formControlName]="'calculationType'"
                                                            [disabled]="!storeDiscountTierListValueEditMode[i]"
                                                            >
                                                            
                                                            <div>
                                                                <mat-option [value]="'PERCENT'">Percentage</mat-option>
                                                                <mat-option [value]="'FIX'">Fix</mat-option>
                                                            </div>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
            
                                                <!-- Action Button -->
                                                <div>
                                                    <div class="flex flex-wrap items-center justify-center ">
                                                        <div class="flex flex-row w-full items-center justify-center">
                                                        
                                                            <input
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="button"
                                                                [id]="'edit-discount-tier-btn' + discountTier.value.id"
                                                                (click)="storeDiscountTierListValueEditMode[i] = !storeDiscountTierListValueEditMode[i]"
                                                            >
                                                            <label
                                                                *ngIf="!storeDiscountTierListValueEditMode[i]"
                                                                class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400  mr-3 mb-3"
                                                                [for]="'edit-discount-tier-btn' + discountTier.value.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="text-white icon-size-5"
                                                                    [svgIcon]="'heroicons_outline:pencil-alt'">
                                                                </mat-icon>
                                                            </label>
        
                                                            <input
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="button"
                                                                [id]="'update-discount-tier-btn' + discountTier.value.id"
                                                                (click)="storeDiscountTierListValueEditMode[i] = !storeDiscountTierListValueEditMode[i]"
                                                                (click)="updateSelectedDiscountTier(discountTier)"
                                                            >
                                                            <label
                                                                *ngIf="storeDiscountTierListValueEditMode[i]"
                                                                class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400  mr-3 mb-3"
                                                                [for]="'update-discount-tier-btn' + discountTier.value.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="text-white icon-size-5"
                                                                    [svgIcon]="'heroicons_outline:check'">
                                                                </mat-icon>
                                                            </label>
        
                                                    
                                                            <input
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="button"
                                                                [id]="'delete-discount-tier-btn' + discountTier.value.id"
                                                                (click)="deleteSelectedDiscountTier(discountTier.value.id)"
                                                            >
                                                            <label
                                                                class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-warn hover:bg-warn-700 mb-3"
                                                                [for]="'delete-discount-tier-btn' + discountTier.value.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="text-white icon-size-5"
                                                                    [svgIcon]="'heroicons_outline:trash'">
                                                                </mat-icon>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </fieldset>
                </div>

                <div class="flex justify-end">
                    <!-- Flash message -->
                    <div
                        class="items-center flex mr-4"
                        [ngClass]="flashMessage ? 'visible' : 'invisible'"
                        >
                        <ng-container *ngIf="flashMessage === 'success'">
                            <mat-icon
                                class="text-green-500"
                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2">Discount updated</span>
                        </ng-container>
                        <ng-container *ngIf="flashMessage === 'error'">
                            <mat-icon
                                class="text-red-500"
                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span class="ml-2">An error occurred, try again!</span>
                        </ng-container>
                    </div>
                    <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious>
                        Back
                    </button>
                    <button 
                        class="px-8"
                        [ngClass]="isLoading ? 'cursor-wait' : 'cursor-pointer'"
                        mat-flat-button
                        [disabled]="isLoading"
                        [color]="'primary'"
                        type="button"
                        (click)="updateSelectedDiscount()">
                    Update
                    </button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </form>
</div>
