<div class="z-10 relative w-full max-w-2xl">
    <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Welcome to</div>
        <div>SYMplified</div>
    </div>
    <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
        DIGITALISE YOUR BUSINESS WITH YOUR VERY OWN ONLINE STORE
    </div>
    <div class="flex items-center mt-8">
        <div class="flex flex-0 items-center -space-x-1.5">
            <img
                class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                src="https://symplified.it/store-assets/2d47f2ad-4e0b-4b84-8324-37c3a2edbe57-logo">
            <img
                class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                src="https://symplified.it/store-assets/0eb42105-3db3-42e2-b1af-03155d2d461a-logo">
            <img
                class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                src="https://symplified.it/store-assets/8913d06f-a63f-4a16-8059-2a30a517663a-logo">
            <img
                class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                src="https://symplified.it/store-assets/f1b73c03-2e92-4922-b6e8-6b1c79331786-logo">
        </div>
        <div class="ml-4 font-medium tracking-tight text-gray-400">Many sellers has joined. Its your turn.</div>
    </div>
</div>