<div class="z-10 relative w-full max-w-2xl">
    <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Welcome to</div>
        <div>SYMplified</div>
    </div>
    <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
        DIGITALISE YOUR BUSINESS WITH YOUR VERY OWN ONLINE STORE
    </div>
    <div class="flex items-center mt-8">
        <div class="flex flex-0 items-center -space-x-1.5">
            <div *ngFor="let imageAsset of image">
            <img
                class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                [src]="imageAsset.assetUrl">
            </div>
        </div>
        <div class="ml-4 font-medium tracking-tight text-gray-400">Many sellers has joined. Its your turn.</div>
    </div>
</div>