<ng-container>
    <div class="shadow rounded-lg sm:rounded-2xl px-2 pt-6 sm:px-0 sm:pt-0 bg-card">
        <div class="flex flex-col flex-auto items-center m-1 p-1 sm:p-10">
            <div class="w-full">
                <!-- Form -->
                <form [formGroup]="storeAccountForm">
                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Profile</div>
                        <div class="text-secondary">Following information is about your store details</div>
                    </div>
                    <div class="sm:grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Store Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                                <mat-label>Store Name</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'mat_solid:store'"
                                    matPrefix></mat-icon>
                                <input
                                    [formControlName]="'name'"
                                    [required]="true"
                                    (input)="checkExistingName($event.target.value)"
                                    maxlength="100"
                                    placeholder="Store name"
                                    matInput>
                                <mat-error *ngIf="storeAccountForm.get('name').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('name').hasError('storeNameAlreadyTaken')">
                                    The store name entered is already taken
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Store Prefix -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                                <mat-label>Store Prefix</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'mat_solid:store'"
                                    matPrefix></mat-icon>
                                <input
                                    [formControlName]="'storePrefix'"
                                    placeholder="Store prefix"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <!-- Store Url -->
                        <div class="sm:col-span-4">
                            <div class="w-full flex flex-row justify-between mb-0.5">
                                <span class="font-medium">Store URL *</span>
                                <mat-slide-toggle 
                                    [color]="'primary'"
                                    [(ngModel)]="customDomain"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="toggleCustomDomain()">
                                    Custom Domain: {{customDomain ? 'Yes' : 'No'}}</mat-slide-toggle>
                            </div>
                            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                                <!-- <mat-label>Store URL</mat-label> -->
                                <span class="text-secondary">https://</span> 
                                <mat-icon
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:globe-alt'">
                                </mat-icon>
                                <div
                                    *ngIf="currentScreenSize.includes('sm') && !customDomain"  
                                    class="text-secondary"
                                    matSuffix>
                                    {{domainName}}
                                </div>
                                <input
                                    minlength="4"
                                    maxlength="63"
                                    placeholder="UrlName"
                                    [formControlName]="'subdomain'"
                                    [required]="true"
                                    (input)="checkExistingURL($event.target.value)"
                                    matInput>
                                <mat-error *ngIf="storeAccountForm.get('subdomain').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('subdomain').hasError('invalidDomain')">
                                    Invalid URL
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('subdomain').hasError('minlength')">
                                    Minimum character length not meet (mininum 4 character)
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('subdomain').hasError('maxlength')">
                                    Maximum character length exceed (maximum 63 character)
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('subdomain').hasError('domainAlreadyTaken')">
                                    The subdomain name entered is already taken
                                </mat-error>
                            </mat-form-field>
                            <div *ngIf="!currentScreenSize.includes('sm') && !customDomain" class="w-full text-gray-500 pr-2 text-right">
                                {{domainName}}
                            </div>
                        </div>
                        <!-- Store Description -->
                        <div class="sm:col-span-4">
                            <span class="font-medium leading-tight">Description</span>
                            <div class="mt-1.5 flex items-center w-full">
                                <quill-editor
                                    [styles]="{'height': '156px'}"
                                    class="w-full"
                                    [formControlName]="'storeDescription'"
                                    [modules]="quillModules"
                                    (onContentChanged)="textChanged($event)"></quill-editor>
                            </div>
                            <mat-error *ngIf="storeAccountForm.get('storeDescription').hasError('maxlength')">
                                Maximum character length exceed (maximum 200 character)
                            </mat-error>
                        </div>
                    </div>
            
                    <!-- Divider -->
                    <div class="my-10 border-t"></div>
            
                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Store Information</div>
                        <div class="text-secondary">Communication and information details in case customers want to connect with you</div>
                    </div>
                    <div class="sm:grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Email -->
                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                                <mat-label>Store Email</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:mail'"
                                    matPrefix></mat-icon>
                                <input
                                    type="email"
                                    placeholder="example@yourstore.com"
                                    [formControlName]="'email'"
                                    [required]="true"
                                    matInput>
                                <mat-error *ngIf="storeAccountForm.get('email').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('email').hasError('email')">
                                    Enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Phone -->
                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                                <mat-label>Store Phone Number</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:phone'"
                                    matPrefix></mat-icon>
                                <input
                                    [formControlName]="'phoneNumber'"
                                    [required]="true"
                                    [placeholder]="dialingCode + '123456789'"
                                    (change)="storeAccountForm.get('phoneNumber').patchValue(sanitizePhoneNumber(storeAccountForm.get('phoneNumber').value))"
                                    matInput>
                                <mat-error *ngIf="storeAccountForm.get('phoneNumber').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeAccountForm.get('phoneNumber').hasError('invalidPhonenumber')">
                                    Invalid phone number
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Store Address -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full" floatLabel="always">
                                <mat-label>Address</mat-label>
                                <textarea
                                    matInput
                                    placeholder="Your customer will be looking for your store, add your store address now!"
                                    maxlength="500"
                                    [rows]="5"
                                    [formControlName]="'displayAddress'"
                                    cdkTextareaAutosize
                                    [cdkAutosizeMinRows]="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
            
                    <!-- Divider -->
                    <div class="mt-8 mb-10 border-t"></div>
                    <!-- Section -->
                    <div class="w-full ">
                        <div class="text-xl">Payment</div>
                        <div class="text-secondary">Select your payment type</div>
                    </div>
                    <!-- Payment Type -->
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
                                <mat-label>Payment Type</mat-label>
                                <mat-select
                                [formControlName]="'paymentType'"
                                [required]="true"
                                [value]="'paymentType'"
                                [placeholder]="'Select Payment Type'"
                                (selectionChange)="storeAccountForm.get('paymentType').patchValue($event.value)"
                                #paymentSelector="matSelect"
                                >
                                <mat-select-trigger>
                                    <span class="flex items-center">
                                        <span>{{ paymentSelector.triggerValue }}</span>
                                    </span>
                                </mat-select-trigger>
                                    <div>
                                        <mat-option [value]="'COD'">Cash On Delivery</mat-option>
                                        <mat-option [value]="'ONLINEPAYMENT'">Online Payment</mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Divider -->
                    <div class="mt-11 mb-10 border-t"></div>
            
                    <!-- Actions -->
                    <div class="pb-8 sm:pb-0 flex items-center justify-end">
                        <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            [disabled]="storeAccountForm.pristine || storeAccountForm.invalid"
                            [color]="'primary'"
                            (click)="updateStoreAccount()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>
