<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <span class="float ml-1  rounded-circle shadow-lg  rounded" style="z-index: 2;">
        <menu-options (open)="addStepWithType($event)"></menu-options>
    </span>

    <a (click)="zoomIn()" class="zoom-in-float ml-1 p-2 rounded-circle shadow-lg  rounded" style="z-index: 2;"><img
            src="assets/mxgraph/zoom-in.png" alt=""></a>

    <a (click)="zoomOut()" class="zoom-out-float ml-1 p-2 rounded-circle shadow-lg  rounded" style="z-index: 2;"><img
            src="assets/mxgraph/zoom-out.png" alt=""></a>
    <main role="main">
        <div class="wrapper">

            <div class="breadcrumb-wrap">
                <div class="container py-3">
                    <div class="row d-flex justify-content-md-between justify-content-sm-center">
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                        Library
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-share-alt"></i>
                                <span>Share</span>
                            </button>
                            <button class="btn btn-ghost grey-dark like-button font-weight-bold">
                                <i class="las la-hand-holding-heart"></i>
                                <span>150 Likes</span>
                            </button>
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-bookmark"></i>
                                <span><span>Save for Later</span></span>
                            </button>

                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <ul style="display: inline-block;float: left;">
                <li class="dev-options" (click)="showJson()">Download Json</li>
                <li > <a href="javascript:void(0);" class="dev-options"><label for="file-jsonUpload">Load
                            Json</label></a>
                    <input id="file-jsonUpload" type="file" accept="application/JSON" name="jsonUpload"
                        (change)="loadJson($event)" hidden />
                </li>
            </ul>
            <div class="container">

                <div class="row">

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list" style="
                                    margin-bottom: 3rem !important;
                                    margin-top: -10px;
                                    margin-left: -98px;
                                    width: 155%;">
                                    <div class="card-header py-1 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title">{{flowTitle}}</h6>
                                            </div>
                                            <div id="btn-container">
                                                <div class="flow-btns" (click)="save()"
                                                    style="background-color: rgb(6, 164, 255);">Update</div>
                                                <div class="flow-btns" (click)="publish()">Publish Flow</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding-top: 700px;">
                                        <div #outlineContainer
                                            style="z-index:1;position:absolute;overflow:hidden;top:55px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">

                                        </div>
                                        <div #graphContainer id="graphContainer">
                                            <side-nav></side-nav>
                                            <side-nav-action></side-nav-action>
                                            <side-nav-handover></side-nav-handover>
                                            <side-nav-condition></side-nav-condition>
                                            <app-side-nav-quick-reply></app-side-nav-quick-reply>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- endbuild -->

</body>

</html>