<div 
  id="addStep" 
  class="cursor-pointer bg-gray-300 w-10 h-10 rounded rounded-full p-2"
  [matMenuTriggerFor]="menu" 
  #clickmenu="matMenuTrigger">
  <mat-icon
    [svgIcon]="'heroicons_solid:menu'"></mat-icon>
</div>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)= "menuClicked()">Menu/Text</button>
  <button mat-menu-item (click)= "actionClicked()">Action</button>
  <button mat-menu-item (click)= "conditionClicked()">Condition</button>
  <button mat-menu-item (click)= "quickReplyClicked()">Quick Reply</button>
  <button mat-menu-item (click)= "handOverClicked()">Hand Over</button>

</mat-menu>
