<div class="flex flex-col max-w-200 md:min-w-100 -m-6">

    <div [formGroup]="statusForm">
        <!-- Compose form -->
        <div
            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        >
            <div class="flex items-center flex-auto min-w-0 justify-center  mb-4">
                <span class="pl-4 text-2xl font-bold text-primary">Manage Status</span> <br>
            </div>
            <!-- <div class="flex items-center flex-auto min-w-0 mb-8">
                <span class="pl-14 text-lg">Lets start creating discount  
                    <br>Fill in below 
                </span>
            </div> -->

            <div class="flex flex-col w-full h-16 lg:w-full lg:pr-2">
                <mat-form-field class="w-full p-0 m-0" floatLabel="always" appearance="outline">
                    <mat-label>Snooze duration</mat-label>
                    <input
                        matInput
                        type="number"
                    >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field 
                appearance="fill"
                class="w-full">
                <mat-label>Snooze Reason</mat-label>
                <input 
                    matInput
                    placeholder="Insert snooze reason"
                >
            </mat-form-field>
            </div>

            <mat-slide-toggle
                [color]="'primary'"
                >
                Online
            </mat-slide-toggle>

            <!-- Action -->
            <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
                <div *ngIf="message !== ''" class="mr-3 text-warn">
                    {{message}}
                </div>
                <div class="order-last">
                    <!-- Send -->
                    <button
                        class="bg-gray-300 hover:bg-gray-500 border border-gray-500"
                        mat-flat-button
                        [color]="'gray'"
                        (click)="cancelManageStatus()"
                        >
                        Cancel
                    </button>
                    
                    <button
                        class="bg-primary-300 hover:bg-primary-500 border border-primary-500 ml-2"
                        mat-flat-button
                        [color]="'gray'"
                        (click)="manageStatus()"
                        >
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
