<div 
    class="flex flex-row lg:w-full items-center justify-center example-tel-input-container" 
    role="group"
    [formGroup]="timeSelection"
    [attr.aria-labelledby]="_formField?.getLabelId()">
    <input class="justify-between w-0 h-0 invisible" type="text" readonly="true"/>
    <div class="lg:w-full flex flex-wrap justify justify-around">
        <select 
            class="p-2 border border-gray-300 rounded example-tel-input-element" 
            [ngClass]="timeHour.value === '--' ? 'bg-gray-100 text-gray-500' : ''"
            formControlName="timeHour"
            aria-label="timeHour code"
            (change)="_handleInput(timeSelection.controls.timeHour, timeMinute)"
            #timeHour>
            <option class="hidden" value="--">--</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select 
            class="p-2 border border-gray-300 rounded"
            [ngClass]="timeMinute.value === '--' ? 'bg-gray-100 text-gray-500' : ''" 
            formControlName="timeMinute"
            aria-label="timeMinute code"
            (change)="_handleInput(timeSelection.controls.timeMinute, timeAmPm)"
            #timeMinute>
            <option class="hidden" value="--">--</option>
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
        </select>
        <select 
            class="p-2 border border-gray-300 rounded" 
            [ngClass]="timeAmPm.value === '--' ? 'bg-gray-100 text-gray-500' : ''" 
            formControlName="timeAmPm"
            aria-label="timeAmPm code"
            (change)="_handleInput(timeSelection.controls.timeAmPm)"
            #timeAmPm>
            <option class="hidden" value="--">--</option>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
    </div>
</div>