<div class="flex flex-col max-w-120 md:min-w-160 -m-6">

    <!-- Compose form -->
    <div
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
    >

        <div class="flex flex-col items-center mb-4 min-w-0">
            <img [src]="image.src" [alt]="image.atl" class="w-40"/>
        </div>
        <div class="flex items-center flex-auto min-w-0">
            <mat-icon
                class="w-10"
                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
            <span class="pl-4 text-2xl font-bold text-primary">Please Choose Pickup Datetime</span> <br>
        </div>
        <div class="flex items-center flex-auto min-w-0 mb-8">
            <span class="pl-14 text-lg">For scheduled delivery, we require date/time for delivery provider to pickup your item. 
                Please input your prefered date/time to continue
            </span>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Pick a date</mat-label>
            <input 
                matInput 
                type="date" 
                [(ngModel)]="date"
                (change)="checkDate()"
                [min]="mindate"
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Pick a time</mat-label>
            <input 
                matInput type="time" 
                [(ngModel)]="time"
                (change)="checkTime()"
            >
        </mat-form-field>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="order-last">
                <!-- Send -->
                <button
                    class="hover:bg-gray-500 border border-gray-500"
                    mat-flat-button
                    (click)="cancelPickupDateTime()"
                    [color]="'gray'">
                    Cancel
                </button>
                <span>&nbsp;&nbsp;</span>
                <button
                    mat-flat-button
                    *ngIf="showButton" (click)="setPickupDateTime()"
                    [color]="'primary'">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
