<div class="content overflow-y-auto sm:overflow-hidden mx-2 flex flex-auto flex-wrap">
    <!-- Addon Control and Table -->
    <div class="flex flex-auto flex-wrap w-full">
        <!-- Addon Control-->
        <div class="flex flex-col w-full sm:w-1/4">
            <!-- Template Group -->
            <mat-form-field class="fuse-mat-emphasized-affix w-full" floatLabel="always">
                <!-- [(ngModel)]="selectedGroupTemplate"
                [ngModelOptions]="{standalone: true}" -->
                <mat-select 
                    *ngIf="!selectedGroupOnProduct"
                    (selectionChange)="selectTemplate(templateSelector.value)"
                    [placeholder]="'Select Template'"
                    #templateSelector="matSelect">
                    <!-- <mat-select-trigger *ngIf="selectedGroupTemplate">
                        <span class="flex items-center justify-between w-full">
                            <span>{{ selectedGroupTemplate.title }}</span>
                        </span>
                    </mat-select-trigger> -->
                    <!-- <mat-option>
                        <ngx-mat-select-search 
                        [placeholderLabel]="'Search template'" 
                        [noEntriesFoundLabel]="'No matching template found'" 
                        [formControl]="templateFormControl"
                        [clearSearchInput]="false"
                        ngDefaultControl></ngx-mat-select-search>
                    </mat-option> -->
                    <mat-option *ngFor="let template of templatesList" [value]="template" [disabled]="templateListValidation(template)">
                        {{template.title}}
                    </mat-option>
                </mat-select>
                <input
                    *ngIf="selectedGroupOnProduct"
                    readonly
                    matInput
                    [value]="(selectedGroupOnProduct) ? selectedGroupOnProduct.title : ''"
                >
            </mat-form-field>
            <!-- Add options to Addon -->
            <div class="w-full mb-4">
                <div class="grid grid-cols-2 items-center">
                    <div class="mb-px font-medium leading-tight">
                        <span>Add Options</span>
                    </div>
                </div>
                <div class="mt-1 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                    <!-- Add product to option -->
                    <div class="h-60 max-h-60 leading-none overflow-y-auto border-gray-300 dark:border-gray-500">
                        <!-- Products -->
                        <ng-container *ngIf="itemTemplatesList">
                            <!-- Select All -->
                            <div *ngIf="selectedGroupTemplate && !selectedGroupOnProduct" class="border-b sticky top-0 z-10 bg-white">
                                <mat-checkbox
                                    class="flex items-center h-10 min-h-10 px-4"
                                    [color]="'primary'"
                                    (change)="selectAllTemplateItems(itemTemplatesList ? itemTemplatesList : null, $event.checked)"
                                    [disabled]="selectedGroupOnProduct || !selectedGroupTemplate"
                                    [checked]="selectedGroupTemplate ? ((selectedItemsTemplates.length !== 0) && 
                                                    (selectedGroupTemplate.addOnTemplateItem.length === itemTemplatesList.length))
                                                    : false"
                                    >
                                    All
                                </mat-checkbox>
                            </div>
                            <ng-container *ngFor="let item of itemTemplatesList ; let i = index; trackBy: trackByFn;">
                                <!-- Checkbox -->
                                <div>
                                    <!-- [checked]="selection.isSelected(item)" -->
                                    <!-- (change)="$event ? selection.toggle(item) : null" -->
                                    <mat-checkbox 
                                        class="flex items-center h-10 min-h-10 px-4"
                                        [color]="'primary'" (click)="$event.stopPropagation()"
                                        (change)="selectedGroupOnProduct ? selectTemplateItemsUpdate(item, $event.checked) : selectTemplateItemsCreate(item, $event.checked)"
                                        [checked]="selectedGroupOnProduct ? validateCheckbox(item.addonTemplateItemId) : validateAllCheckbox()">
                                        {{item.name}}
                                    </mat-checkbox>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <!-- <div class="border-t border-gray-300">
                        <mat-paginator
                            [ngClass]="{'pointer-events-none': isLoading}"
                            [length]="productPaginationForCombo.length"
                            [pageIndex]="productPaginationForCombo.page"
                            [pageSize]="productPaginationForCombo.size"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="false"
                            [hidePageSize]="true"
                            #productPaginationCombo>
                        </mat-paginator>
                    </div> -->
                </div>
            </div>

            <!-- Item allowed of the option-->
            <div class="w-full">
                <div class="grid grid-cols-2 gap-1 items-center">

                    <mat-form-field class="fuse-mat-no-subscript" floatLabel="always">
                        <mat-label>Min. Allowed</mat-label>
                        <input
                            matInput
                            type="number"
                            [disabled]="false"
                            (keyup)="totalAllowedItems($event.target.value, 'min')"
                            [(value)]="minAllowed" 
                            #minTotalAllow
                            >
                            <!-- [value]="(selectedGroupOnProduct) ? selectedGroupOnProduct.minAllowed : 0" -->
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-no-subscript" floatLabel="always">
                        <mat-label>Max. Allowed</mat-label>
                        <input
                            matInput
                            type="number"
                            [disabled]="false"
                            (keyup)="totalAllowedItems($event.target.value, 'max')"
                            [(value)]="maxAllowed" 
                            #maxTotalAllow
                            >
                            <!-- [value]="(selectedGroupOnProduct) ? selectedGroupOnProduct.maxAllowed : 0" -->
                    </mat-form-field>
                    <!-- Buttons -->
                    <div class="col-span-2 mt-1">
                        <div class="w-full flex">
                            <div class="w-full flex flex-row gap-1" *ngIf="selectedGroupTemplate && selectedGroupOnProduct">
                                <button
                                    type="button"
                                    class="flex items-center justify-center w-1/4 h-9 rounded cursor-pointer bg-gray-300 hover:bg-gray-400"
                                    (click)="resetSelectedGroup();">
                                    <mat-icon
                                        class="text-white icon-size-5"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                </button>
                                <button
                                    type="button"
                                    class="flex items-center justify-center w-3/4 h-9 rounded hover:bg-blue-400 cursor-pointer bg-blue-600 text-white disabled:bg-blue-500 disabled:cursor-default disabled:opacity-50"
                                    (click)="updateSelectedGroup()"
                                    [disabled]="minTotalAllow.value > selectedGroupOnProduct.productAddOnItemDetail.length || 
                                                    (maxTotalAllow.value > selectedGroupOnProduct.productAddOnItemDetail.length || maxTotalAllow.value == 0)"
                                    >
                                    <mat-icon
                                        class="text-white icon-size-5 mr-0.5"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        Update
                                </button>
                            </div>
                            <button
                                *ngIf="selectedGroupTemplate && !selectedGroupOnProduct && selectedItemsTemplates.length > 0"
                                type="button"
                                class="flex items-center justify-center w-full h-9 rounded hover:bg-blue-400 cursor-pointer bg-blue-600 text-white disabled:bg-blue-500 disabled:cursor-default disabled:opacity-50"
                                (click)="createSelectedTemplate()"
                                [disabled]="minTotalAllow.value > selectedItemsTemplates.length || 
                                                (maxTotalAllow.value > selectedItemsTemplates.length || maxTotalAllow.value == 0)"
                                >
                                <mat-icon
                                    class="text-white icon-size-5 mr-0.5"
                                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Addon Details Table -->
        <div class="flex flex-col w-full sm:w-3/4 sm:pl-3 py-4 sm:py-0">
            <div class="flex flex-auto overflow-x-auto">
                <div class="flex flex-col flex-auto sm:mb-8">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <!-- Header -->
                                <div
                                    class="option-grid z-9 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 items-center"
                                    matSort
                                    matSortDisableClear>
                                    <div class="flex flex-col">
                                        <mat-slide-toggle 
                                            [color]="'primary'"
                                            [(ngModel)]="setOrderEnabled" 
                                            [ngModelOptions]="{standalone: true}"
                                            (change)='reorderList($event.checked)'></mat-slide-toggle>
                                    </div>
                                    <div>Name</div>
                                    <div>Total allowed</div>
                                    <div>Options</div>
                                    <div>Action</div>
                                </div>
                                <!-- Rows -->
                                <div cdkDropList [cdkDropListDisabled]="!setOrderEnabled" (cdkDropListDropped)="dropUpperLevel($event)" 
                                    [cdkDropListAutoScrollStep]="10" class="addon-details-grid overflow-y-auto">
                                    <div cdkDrag *ngFor="let addOn of addOnsOnProductList; let i = index; trackBy: trackByFn">
                                        <div class="option-grid grid items-center gap-4 py-2 px-6 md:px-8 border-b bg-white">        
                                            
                                            <!-- Sequence -->
                                            <div class="flex items-center" cdkDragHandle>
                                                <mat-icon 
                                                    [ngClass]="setOrderEnabled ? 'text-gray-500 cursor-move' : 'text-gray-200 cursor-default'"
                                                svgIcon="mat_solid:drag_handle"></mat-icon>
                                            </div>

                                            <!-- Option Name -->
                                            <div class="truncate">
                                                {{addOn.title}}
                                            </div>
                                            
                                            <!-- Total Allowed -->
                                            <div class="truncate flex flex-col gap-1">
                                                <div class="grid grid-cols-2">
                                                    <span>Min.</span>
                                                    <span class="font-medium">: {{addOn.minAllowed}}</span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span>Max.</span>
                                                    <span class="font-medium">: {{addOn.maxAllowed}}</span>
                                                </div>
                                            </div>

                                            <!-- Product in option -->
                                            <div cdkDropList [cdkDropListDisabled]="selectedGroupOnProduct !== addOn" (cdkDropListDropped)="drop($event, i)" 
                                            [cdkDropListAutoScrollStep]="10" class="truncate list-class">
                                                <ng-container *ngIf="addOn.productAddOnItemDetail.length">
                                                    <ng-container *ngFor="let option of addOn.productAddOnItemDetail; trackBy: trackByFn">
                                                        <div cdkDrag *ngIf="option.name" class="mb-1 last:mb-0 flex flex-row gap-2">
                                                            <div
                                                                class="contain-class flex flex-col gap-2 items-center justify-center px-4 py-1.5 rounded-md leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                                <span class="truncate text-base font-medium whitespace-nowrap leading-tight">{{option.name}}</span>
                                                                <!-- Price -->
                                                                <div class="flex flex-col md:flex-row gap-1 md:gap-2">
                                                                    <!-- Price -->
                                                                    <div class="flex flex-row gap-2 items-center justify-between">
                                                                        <mat-label class="text-sm leading-tight">DeliverIn<br>Price</mat-label>
                                                                        <mat-form-field class="w-30 fuse-mat-no-subscript fuse-mat-dense text-sm md:text-base" appearance="fill" floatLabel="always">
                                                                            <input
                                                                                [disabled]="!selectedGroupOnProduct || (selectedGroupOnProduct && selectedGroupOnProduct.id !== addOn.id)"
                                                                                class="text-left"
                                                                                matInput
                                                                                [placeholder]="'Price'"
                                                                                [(ngModel)]="option.price" 
                                                                                [ngModelOptions]="{standalone: true}"
                                                                                type="number">
                                                                            <span matPrefix>{{store.regionCountry.currencySymbol}}</span>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <!-- DineIn Price -->
                                                                    <div class="flex flex-row gap-2 items-center justify-between">
                                                                        <mat-label class="text-sm leading-tight">DineIn<br>Price</mat-label>
                                                                        <mat-form-field class="w-30 fuse-mat-no-subscript fuse-mat-dense text-sm md:text-base" appearance="fill" floatLabel="always">
                                                                            <input
                                                                                class="text-left"
                                                                                matInput
                                                                                [disabled]="!selectedGroupOnProduct || (selectedGroupOnProduct && selectedGroupOnProduct.id !== addOn.id)"
                                                                                [placeholder]="'DineIn Price'"
                                                                                [(ngModel)]="option.dineInPrice" 
                                                                                [ngModelOptions]="{standalone: true}"
                                                                                type="number">
                                                                            <span matPrefix>{{store.regionCountry.currencySymbol}}</span>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Sequence -->
                                                            <div class="flex items-center" cdkDragHandle>
                                                                <mat-icon 
                                                                    [ngClass]="!selectedGroupOnProduct || (selectedGroupOnProduct && selectedGroupOnProduct.id !== addOn.id) ? 'text-gray-200 cursor-default' : 'text-gray-500 cursor-move'"
                                                                svgIcon="mat_solid:drag_handle"></mat-icon>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>

                                            <!-- Action -->
                                            <div class="flex flex-col gap-2">
                                                <button
                                                    [disabled]="setOrderEnabled"
                                                    [ngClass]="setOrderEnabled ? 'opacity-50 cursor-default' : 'hover:bg-blue-400 cursor-pointer'"
                                                    class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600"
                                                    [for]="'select-option-btn' + addOn.id"
                                                    (click)="(!selectedGroupOnProduct || (selectedGroupOnProduct && selectedGroupOnProduct.id !== addOn.id)) ? selectGroup(addOn, i) : updateSelectedGroup()"
                                                    matRipple>
                                                    <mat-icon
                                                        *ngIf="!selectedGroupOnProduct || (selectedGroupOnProduct && selectedGroupOnProduct.id !== addOn.id)"
                                                        class="text-white icon-size-5"
                                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                                    <mat-icon
                                                        *ngIf="selectedGroupOnProduct && selectedGroupOnProduct.id === addOn.id"
                                                        class="text-white icon-size-5"
                                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                </button>
                                                <button
                                                    [disabled]="setOrderEnabled"
                                                    [ngClass]="setOrderEnabled ? 'opacity-50 cursor-default' : 'hover:bg-warn-700 cursor-pointer'"
                                                    class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-warn"
                                                    [for]="'delete-option-btn' + addOn.id"
                                                    (click)="deleteAddOn(addOn.id)"
                                                    matRipple>
                                                    <mat-icon
                                                        class="text-white icon-size-5"
                                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-template #noVariants>
                        <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">There are no Variants! Add them now.</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button
    class="sm:px-8 sm:w-24"
    mat-flat-button
    [color]="'primary'"
    type="button"
    (click)="saveAddOn()"
    >
    <mat-icon
            class="text-white icon-size-5"
            [svgIcon]="'heroicons_outline:check'">
    </mat-icon>
    <span class="hidden sm:block justify-center">
        Save
    </span>
</button> -->