<div
    class="absolute mb-12 inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <div class="flex flex-col flex-auto w-full">
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
            <!-- Title and action buttons -->
            <div class="flex items-center justify-between w-full">
                <div>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Flow Builder</h2>
                    <div class="font-medium tracking-tight text-secondary">Keep track of your financial status</div>
                </div>
                <div class="flex items-center ml-6">
                    <button
                        class="hidden sm:inline-flex"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                        <span class="ml-2">Reports</span>
                    </button>
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2">Export</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <button
                            [matMenuTriggerFor]="actionsMenu"
                            mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>Export</button>
                            <button mat-menu-item>Reports</button>
                            <button mat-menu-item>Settings</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                <!-- Recent transactions table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    
                    <div class="flex flex-col sm:flex-row p-6 sm:justify-between">
                        <div class="flex w-full">
                            <div class="flex-0">
                                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent transactions</div>
                                <div class="text-secondary font-medium">1 pending, 4 completed</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="overflow-x-auto mx-6">
                            <div #outlineContainer
                                style="z-index:1;position:absolute;overflow:hidden;top:55px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">
                            </div>
                            <div #graphContainer id="graphContainer">
                                <side-nav></side-nav>
                                <side-nav-action></side-nav-action>
                                <side-nav-handover></side-nav-handover>
                                <side-nav-condition></side-nav-condition>
                                <app-side-nav-quick-reply></app-side-nav-quick-reply>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-6"></div>
</div>

<!-- <mat-paginator
    class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{'pointer-events-none': isLoading}"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator> -->
