<div
    class="absolute mb-12 inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <div class="flex flex-col flex-auto w-full">
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
            <!-- Title and action buttons -->
            <div class="flex items-center justify-between w-full">
                <div>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Flow Builder</h2>
                    <div class="font-medium tracking-tight text-secondary">Keep track of your financial status</div>
                </div>
                <div class="flex items-center ml-6">
                    <button
                        class="hidden sm:inline-flex"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                        <span class="ml-2">Reports</span>
                    </button>
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2">Export</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <button
                            [matMenuTriggerFor]="actionsMenu"
                            mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>Export</button>
                            <button mat-menu-item>Reports</button>
                            <button mat-menu-item>Settings</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                <!-- Recent transactions table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    
                    <div class="flex flex-row p-6">
                        <div class="flex flex-col w-full mr-3">
                            <div class="flex w-full justify-between">
                                <div class="flex-0">
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">{{flowTitle}}</div>
                                    <div class="text-secondary font-medium">1 pending, 4 completed</div>
                                </div>
                            </div>
                            <div class="flex w-full justify-between mt-4">
                                <div class="flex flex-wrap">
                                    <menu-options (open)="addStepWithType($event)"></menu-options>
                                    <div 
                                        class="cursor-pointer bg-gray-300 w-10 h-10 rounded rounded-full p-2 ml-2"
                                        (click)="zoomIn()">
                                        <mat-icon
                                            [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                    </div>
                                    <div 
                                        class="cursor-pointer bg-gray-300 w-10 h-10 rounded rounded-full p-2 ml-2"
                                        (click)="zoomOut()">
                                        <mat-icon
                                            [svgIcon]="'heroicons_solid:minus'"></mat-icon>
                                    </div>
                                </div>
                                <div>
                                    <button
                                        class="hidden sm:inline-flex"
                                        mat-flat-button
                                        (click)="save()"
                                        [color]="'primary'">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:archive'"></mat-icon>
                                        <span class="ml-2">Update</span>
                                    </button>
                                    <button
                                        class="hidden sm:inline-flex ml-3"
                                        mat-flat-button
                                        (click)="publish()"
                                        [color]="'primary'">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:cloud-upload'"></mat-icon>
                                        <span class="ml-2">Publish Flow</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex border border-gray-500 rounded">
                            <div #outlineContainer
                            style="overflow:hidden;width:160px;height:100px;background:transparent;">
                        </div>
                        </div>
                    </div>
                    <div>
                        <div class="overflow-hidden mx-6">
                            <div style="background-size: 30px 30px; background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);" #graphContainer id="graphContainer">
                                <side-nav></side-nav>
                                <side-nav-action></side-nav-action>
                                <side-nav-handover></side-nav-handover>
                                <side-nav-condition></side-nav-condition>
                                <app-side-nav-quick-reply></app-side-nav-quick-reply>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-6"></div>
</div>

<!-- <mat-paginator
    class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{'pointer-events-none': isLoading}"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator> -->
