<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" class="sideNav" [(opened)]="opened">
		<img id="pin" src="assets/mxgraph/push-pin.svg" (click)="pin()">

		<div class="header text-center w-100">
			<h4>
				<input type="text" value="Send" (ngModelChange)="titleChange($event)" id="vertex-title"
					(focusout)="titleFocusOut($event)" [(ngModel)]="title">
			</h4>
		</div>
		<div class="body" id="side-nav-body">
			<div class="text-center pt-5" id="buttons-list">
				<input id="trigger-text" type="text" [(ngModel)]="description" (focusout)="descriptionFocusOut($event)"
					placeholder="Enter your text..." (keyup)="descriptionChange($event)">
				<div *ngFor="let name of buttonsArray;let i=index">
					<input class="button-text" type="text" value="{{name}}" (keyup)="triggerTextChange($event,i)"
						(focusout)="triggerFocusOut($event,i)" (focus)="btnTitleFocus($event,i)" />

					<img class="delete-trigger-icon" src="assets/mxgraph/red-cross.svg" (click)="deleteTriggers(i)" alt="" height="10px" width='10px'>

				</div>
				<div id="add-button" (click)="insertButton()">Add Button</div>
				<button (document:click)="handleClick($event)" hidden></button>

				<input [(ngModel)]="dataVariable" id="dataVariable" type="text"
					(mouseout)="dataVariableFocusOut($event)" placeholder="Custom Variable">

				<input *ngIf="show" id="btnValue" type="text" [(ngModel)]="btnValue" placeholder="{{placeholderValue}}"
					(keyup)="btnValueChange($event)" (mouseout)="btnValueMouseOut()">

			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<button mat-button (click)="toggle()" id="sideNavTest" hidden></button>
	</mat-sidenav-content>
</mat-sidenav-container>