<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Inventory</div>
        <!-- Filter and actions -->
        <div  class="sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Filter by category -->
            <div class="mb-2 sm:mb-0 sm:mr-2">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-30 sm:w-30">
                    <mat-select
                        [formControl]="categoryFilterControl"
                        [value]="filterByCatId"
                        placeholder="Category"
                        #categorySelector="matSelect"
                    >
                        <mat-select-trigger>
                            <span class="flex items-center">
                                <span>{{ categorySelector.triggerValue }}</span>
                            </span>
                        </mat-select-trigger>
                        <mat-option [value]="''">All</mat-option>
                        <ng-container *ngFor="let category of productCategories$; trackBy: trackByFn">
                            <mat-option [value]="category.id">{{category.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Actions -->
            <div>
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded pr-2 pb-2 min-w-60 sm:pb-0">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Search products'">
                </mat-form-field>
                <!-- Add product button -->
                <!-- <ng-container *ngIf="store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c'">
                    <button
                        class="ml-0"
                        (click)="initCreateProduct('normal')"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="hidden sm:block ml-2 mr-1">Add</span>
                    </button>
                </ng-container> -->
                <!-- *ngIf="store$.verticalCode === 'FnB' || store$.verticalCode === 'FnB_PK'" -->
                <ng-container 
                >
                    <button
                        [matMenuTriggerFor]="addProductMenu"
                        class="ml-0"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="hidden sm:block ml-2 mr-1">Add</span>
                    </button>
                    <mat-menu #addProductMenu="matMenu">
                        <button mat-menu-item (click)="initCreateProduct('normal')">Product</button>
                        <button mat-menu-item (click)="initCreateProduct('combo')">Combo</button>
                    </mat-menu>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(products$ | async) as products">
                <ng-container *ngIf="products.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            [ngClass]="(store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c') ? 'inventory-grid' : 'inventory-grid-fnb'"
                            matSort
                            matSortDisableClear>
                            <div></div>
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'sku'">
                                SKU
                            </div>
                            <div [mat-sort-header]="'name'">Name</div>
                            <div
                                class="hidden md:block"
                                >
                                Type
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'price'">
                                Price
                            </div>
                            <div
                                *ngIf="store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c'"
                                class="hidden lg:block"
                                [mat-sort-header]="'quantity'">
                                Stock
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'status'">
                                Active
                            </div>
                            <div class="hidden sm:block">Details</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(products$ | async) as products">
                            <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                <div 
                                    class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b"
                                    [ngClass]="(store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c') ? 'inventory-grid' : 'inventory-grid-fnb'"

                                >

                                    <!-- Image -->
                                    <div class="flex items-center">
                                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                            <img
                                                class="w-8"
                                                *ngIf="product.thumbnailUrl"
                                                [alt]="'Product thumbnail image'"
                                                [src]="product.thumbnailUrl">
                                            <div
                                                class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                *ngIf="!product.thumbnailUrl">
                                                NO THUMB
                                            </div>
                                        </div>
                                    </div>

                                    <!-- SKU -->
                                    <div class="hidden md:block truncate">
                                        {{ product.productInventories.length > 0 ? product.productInventories[0].sku : ''  }}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{ product.name }}
                                    </div>

                                    <!-- Type -->
                                    <div class="hidden md:block">
                                        <!-- {{ product.productInventories.length > 0 ? (product.productInventories[0].price | currency:store$.regionCountry.currencySymbol:'symbol':'1.2-2') : '' }} -->
                                        {{ productType(product) }}
                                    </div>

                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{ product.productInventories.length > 0 ? (product.productInventories[0].price | currency:store$.regionCountry.currencySymbol:'symbol':'1.2-2') : '' }}
                                    </div>

                                    <!-- Stock -->
                                    <div 
                                        *ngIf="store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c'"
                                        class="hidden lg:flex items-center">
                                        <div class="min-w-4" >{{ totalInventories(product.productInventories) }}</div>
                                        <!-- Low stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                            *ngIf="totalInventories(product.productInventories) >= 0 && totalInventories(product.productInventories) < 20">
                                            <div class="flex w-full h-1/3 bg-red-600"></div>
                                        </div>
                                        <!-- Medium stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                            *ngIf="totalInventories(product.productInventories) >= 20 && totalInventories(product.productInventories) < 40">
                                            <div class="flex w-full h-2/4 bg-orange-400"></div>
                                        </div>
                                        <!-- High stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                            *ngIf="totalInventories(product.productInventories) >= 40">
                                            <div class="flex w-full h-full bg-green-400"></div>
                                        </div>
                                    </div>

                                    <!-- Active -->
                                    <div class="hidden lg:block">
                                        <ng-container *ngIf="product.status === 'ACTIVE'">
                                            <mat-icon
                                                class="text-green-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="product.status !== 'ACTIVE'">
                                            <mat-icon
                                                class="text-gray-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                        </ng-container>
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <!-- (click)="toggleDetails(product.id);resetCycleImages()"> -->
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            mat-button
                                            (click)="editProduct(product.id); resetCycleImages()">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-horizontal'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                        [hidePageSize]="currentScreenSize.includes('sm') ? false : true"></mat-paginator>

                </ng-container>
            </ng-container>


            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template>

        </div>

    </div>

</div>