<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="planBillingForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Bank Details</div>
            <div class="text-secondary">Provide the basic bank information for your store/company for the purpose of settlement.</div>
        </div>
        <div class="grid grid-cols-4 gap-6 w-full mt-8">
            <!-- Card holder -->
            <div class="col-span-2">
                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                    <mat-label>Bank account holder</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'bankAccountTitle'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Bank Name -->
            <div class="col-span-2">
                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                    <mat-label>Bank name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:library'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'bankName'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Bank Account Number -->
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                    <mat-label>Bank account number</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:credit-card'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'bankAccountNumber'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Card expiration -->
            <!-- <div class="col-span-2 sm:col-span-1">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full"
                    [floatLabel]="'always'">
                    <mat-label>Expiration date</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:calendar'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'cardExpiration'"
                        [placeholder]="'MM / YY'"
                        matInput>
                </mat-form-field>
            </div> -->
            <!-- Card CVC -->
            <!-- <div class="col-span-2 sm:col-span-1">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>CVC / CVC2</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:lock-closed'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'cardCVC'"
                        matInput>
                </mat-form-field>
            </div> -->
            <!-- Country -->
            <!-- <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <!-- ZIP -->
            <!-- <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>ZIP / Postal code</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:hashtag'"
                        matPrefix></mat-icon>
                    <input matInput>
                </mat-form-field>
            </div> -->
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Ansurlah Account Details</div>
            <div class="text-secondary">To facilitate the settlement process, please provide your Ansurlah Merchant Account information.</div>
        </div>
        <div class="grid grid-cols-4 gap-6 w-full mt-8">
            <!-- Merchant ID -->
            <div class="col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                    <mat-label>Merchant ID</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'ansurMerchantId'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- API Key -->
            <div class="col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full">
                    <mat-label>API Key</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'ansurApiKey'"
                        matInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>


        <!-- Actions -->
        <div class="flex items-center justify-end">
            <!-- <button
                mat-stroked-button
                type="button">
                Cancel
            </button> -->
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                (click)="updateClientBillingProfile()"
                [color]="'primary'">Save
            </button>
        </div>
    </form>

</div>
