<ng-container>
    <div class="shadow rounded-lg sm:rounded-2xl bg-card">
        <div class="flex flex-col flex-auto items-center m-1 p-1 sm:p-10">
            <div class="w-full px-2 sm:px-0">
                <!-- Form -->
                <form [formGroup]="storeDeliveryForm">
                    <!-- Section -->
                    <div class="w-full pt-8 sm:pt-0">
                        <div class="text-xl">Pickup Address</div>
                        <div class="text-secondary">Choose your type of delivery types to provide to the customer of delivery details.</div>
                    </div>

                    <div class="grid grid-cols-4 gap-6 w-full mt-4">
                        <!-- Pickup Address -->
                        <div class="col-span-4">
                            <div class="flex w-full flex-row justify-between">
                                <div>
                                    <mat-label class="font-medium">Address</mat-label>
                                </div>
                        
                            </div>
                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full" floatLabel="always">
                                
                    
                                <textarea
                                    matInput
                                    placeholder="Your customer will be looking for your store, add your store address now !"
                                    maxlength="500"
                                    [required]="true"
                                    [rows]="5"
                                    [formControlName]="'address'"
                                    cdkTextareaAutosize
                                    [cdkAutosizeMinRows]="5"></textarea>
                                <mat-error *ngIf="storeDeliveryForm.get('address').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Country -->
                        <div class="col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
                                <mat-label>Country</mat-label>
                                <mat-select 
                                    [formControlName]="'regionCountryId'"
                                    [required]="true"
                                    disabled="true"
                                    [value]="'regionCountryId'"
                                    [placeholder]="'Select Country'"
                                    (selectionChange)="storeDeliveryForm.get('regionCountryId').patchValue($event.value);updateStates(countrySelector.value)"
                                    #countrySelector="matSelect"
                                    >
                                    <mat-select-trigger>
                                        <span class="flex items-center">
                                            <span>{{ countrySelector.triggerValue }}</span>
                                        </span>
                                    </mat-select-trigger>
                                    <div *ngFor="let country of storeCountries">
                                        <mat-option [value]="country.id">{{country.name}}</mat-option>
                                    </div>
                                </mat-select>
                                <mat-error *ngIf="storeDeliveryForm.get('regionCountryId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- State -->
                        <div class="col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
                                <mat-label>State</mat-label>
                                <mat-select 
                                    [formControlName]="'regionCountryStateId'"
                                    [required]="true"
                                    [value]="'regionCountryStateId'"
                                    [placeholder]="'Select State'"
                                    (selectionChange)="storeDeliveryForm.get('regionCountryStateId').patchValue($event.value);"
                                    #stateSelector="matSelect">
                                    <mat-select-trigger>
                                        <span class="flex items-center">
                                            <span>{{ stateSelector.triggerValue }}</span>
                                        </span>
                                    </mat-select-trigger>
                                    <div *ngFor="let state of storeStates">
                                        <mat-option [value]="state.id">{{state.name}}</mat-option>
                                    </div>
                                </mat-select>
                                <mat-error *ngIf="storeDeliveryForm.get('regionCountryStateId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </div>  
                        <!-- City -->
                        <div class="col-span-2">
                            <mat-form-field class="w-full" floatLabel="always">
                                <mat-label>City</mat-label>
                                <mat-select 
                                    [formControlName]="'city'"
                                    [required]="true"
                                    [value]="'city'"
                                    [placeholder]="'Select State'"
                                    (selectionChange)="storeDeliveryForm.get('city').patchValue($event.value);"
                                    #stateCitySelector="matSelect">
                                    <mat-select-trigger>
                                        <span class="flex items-center">
                                            <span>{{ stateCitySelector.triggerValue }}</span>
                                        </span>
                                    </mat-select-trigger>
                                    <ngx-mat-select-search [placeholderLabel]="'Search City'" [noEntriesFoundLabel]="'No matching records found'" [formControl]="regionCountryStateCities"
                                     ngDefaultControl></ngx-mat-select-search>
                                    <!-- <div *ngFor="let city of storeStateCities">
                                        <mat-option class="m-t" [value]="city.city">{{city.city}}</mat-option>
                                    </div> -->
                                    <mat-option class="m-t" *ngFor="let city of storeStateCities$ | async" [value]="city.city">
                                        {{city.city}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Postcode -->
                        <div class="col-span-2">
                            <mat-form-field class="w-full" floatLabel="always">
                                <mat-label>Postcode</mat-label>
                                <input
                                    [formControlName]="'postcode'"
                                    placeholder="XXXXX"
                                    minlength="5"
                                    maxlength="10"
                                    [required]="true"
                                    matInput>
                                <mat-error *ngIf="storeDeliveryForm.get('postcode').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeDeliveryForm.get('postcode').hasError('invalidPostcode')">
                                    Invalid postcode
                                </mat-error>
                                <mat-error *ngIf="storeDeliveryForm.get('postcode').hasError('minlength')">
                                    Minimum length of postcode not meet
                                </mat-error>
                                <mat-error *ngIf="storeDeliveryForm.get('postcode').hasError('maxlength')">
                                    Exceed maximum length of postcode
                                </mat-error>
                            </mat-form-field>
                        </div>             
                    </div>
                    <!-- Actions -->
                    <div class="flex flex-row justify-between my-3 items-center">
                        <div class="w-full pt-8 sm:pt-0">
                            <div class="text-xl">Pin Location</div>
                            <div class="text-secondary">Mark your location.</div>
                        </div>    
                        <button
                            id="relocate-button"
                            class="p-2 rounded-full"
                            [ngClass]="storeDeliveryForm.pristine || storeDeliveryForm.invalid?'bg-gray-300 text-gray-400':'bg-primary text-white'"
                            type="button"
                            [disabled]="storeDeliveryForm.pristine || storeDeliveryForm.invalid"
                            >Relocate
                        </button>
                    </div>
   
                    <div class="map w-full" id="map">
                
                    </div>

                    <div class="flex flex-row mt-2">
                        <div>
                            Location Code :    
                        </div>
                        <div class="text-green-700">
                            {{displayLatitude | async}} , {{displayLongtitude | async}}
                        </div>
                    </div>

                    <!-- Store Fullfillment -->
                    <div class="col-span-4 mt-4">
                    <div class="flex flex-col w-full">
                        <mat-label class="font-medium">Store Fulfilment</mat-label>
                        <div class="flex flex-col sm:flex-row">
                            <div class="flex w-full lg:w-2/4">
                                <mat-checkbox class="" [formControlName]="'allowStorePickup'" [checked]="deliveryFulfilment[3].selected">{{deliveryFulfilment[3].label}}</mat-checkbox>
                                <mat-icon
                                    [matTooltip]="deliveryFulfilment[3].tooltip"
                                    class="flex flex-wrap transform scale-75"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'">
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Divider -->
                    <div class="my-4 border-t"></div>
            
                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Delivery Details</div>
                        <div class="text-secondary">Communication and information details in case customer want to connect with you.</div>
                    </div>

                    <div class="grid grid-cols-4 gap-6 w-full mt-4">
                        <!-- Delivery Type -->
                        <div class="col-span-4">
                            <mat-form-field class="fuse-mat-emphasized-affix w-full">
                                <mat-label>Delivery Type</mat-label>
                                <mat-select
                                    [formControlName]="'deliveryType'"
                                    [required]="true"
                                    [value]="'deliveryType'"
                                    [placeholder]="'Select Delivery Type'"
                                    (selectionChange)="storeDeliveryForm.get('deliveryType').patchValue($event.value)"
                                    (selectionChange)="checkDeliveryPartner()"
                                    #deliverySelector="matSelect">
                                    <mat-select-trigger>
                                        <span class="flex items-center">
                                            <span>{{ deliverySelector.triggerValue }}</span>
                                        </span>
                                    </mat-select-trigger>
                                    <div>
                                        <mat-option [value]="'SELF'">Self Delivery</mat-option>
                                        <mat-option
                                            *ngIf="this.storeDeliveryForm.get('verticalCode').value === 'E-Commerce' || this.storeDeliveryForm.get('verticalCode').value === 'e-commerce-b2b2c' || this.storeDeliveryForm.get('verticalCode').value === 'ECommerce_PK'" 
                                            [value]="'SCHEDULED'">Delivery Partner (Scheduled)</mat-option>
                                        <mat-option 
                                        *ngIf="this.storeDeliveryForm.get('verticalCode').value === 'FnB' || this.storeDeliveryForm.get('verticalCode').value === 'FnB_PK'"
                                            [value]="'ADHOC'">Delivery Partner (Instant)</mat-option>
                                    </div>
                                </mat-select>
                                <mat-error *ngIf="storeDeliveryForm.get('deliveryType').hasError('required')">
                                    Required
                                </mat-error>
                                <mat-error *ngIf="storeDeliveryForm.get('deliveryType').hasError('noAdhocDeliveryPartners')">
                                    No available delivery partner
                                </mat-error>
                                <mat-icon
                                    matPrefix
                                    [svgIcon]="'mat_solid:delivery_dining'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- Delivery Period / Delivery Service -->
                        <div class="col-span-4" *ngIf="storeDeliveryForm.get('deliveryType').value === 'SCHEDULED'">
                            <div class="flex flex-col w-full">
                                <mat-label class="font-medium">
                                    <span>Delivery Service</span> &nbsp;
                                    <span class="text-xs">(required at least 1)</span>
                                </mat-label>
                                <div class="flex flex-col sm:flex-row">
                                    <ng-container [formGroupName]="'deliveryPeriods'">
                                        <ng-container formArrayName="values" *ngFor="let deliveryPeriod of storeDeliveryForm.get('deliveryPeriods').get('values')['controls']; let i = index;">
                                            <ng-container [formGroupName]="i">
                                                <div class="flex w-full py-0.5 sm:py-0">
                                                    <mat-checkbox (change)="checkDeliveryPeriodsFulfilment()" [formControlName]="'enabled'" [checked]="deliveryPeriod.value.enabled">{{deliveryPeriod.value.deliveryPeriodDetails.name}}</mat-checkbox>
                                                    <mat-icon
                                                        *ngIf="deliveryPeriod.value.deliveryPeriodDetails.description"
                                                        [matTooltip]="deliveryPeriod.value.deliveryPeriodDetails.description"
                                                        class="flex flex-wrap transform scale-75"
                                                        [svgIcon]="'heroicons_solid:question-mark-circle'">
                                                    </mat-icon>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <mat-error *ngIf="storeDeliveryForm.get('deliveryPeriods').get('validation').hasError('requiredAtLeastOne')">
                                    Required at least 1
                                </mat-error>
                            </div>
                        </div>
                        <!-- Delivery Partner, Self Delivery -->
                        <div class="col-span-4">
                            <!-- Delivery Partner -->
                            <div *ngIf="storeDeliveryForm.get('deliveryType').value === 'SCHEDULED' || storeDeliveryForm.get('deliveryType').value === 'ADHOC'" class="flex flex-col w-full">
                                <div class="col-span-4 w-full flex flex-row">
                                    <mat-label class="flex flex-col font-medium">Delivery Partner</mat-label>
                                    <mat-icon
                                        matTooltip="Below delivery partner will be provided to the customer to choose when purchasing from this store."
                                        class="flex flex-wrap transform scale-75"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'">
                                    </mat-icon>
                                </div>
                                <div class="mb-0.5"></div>
                                <div class="border border-gray-300 rounded min-h-26 max-h-72 overflow-auto">
                                    <div class="p-2 w-full">
                                        <!-- Scheduled -->
                                        <ng-container *ngIf="storeDeliveryForm.get('deliveryType').value === 'SCHEDULED'">
                                            <ng-container *ngFor="let displayDeliveryPeriod of this.storeDeliveryForm.get('deliveryPeriods').get('values').value; let i = index;">
                                                <ng-container *ngIf="displayDeliveryPeriod.enabled">
                                                    <fieldset class="border border-solid border-gray-300 rounded pt-1" 
                                                        [ngClass]="this.storeDeliveryForm.get('deliveryPeriods').get('values').value.length - 1 === i ? 'mb-0' : 'mb-2'">
                                                        <legend class="ml-2 px-2 text-primary">{{ displayDeliveryPeriod.deliveryPeriodDetails.name }}</legend>
                                                        <ng-container *ngIf="displayDeliveryPeriod.deliveryProviders.length > 0">
                                                            <ng-container *ngFor="let deliveryProvider of displayDeliveryPeriod.deliveryProviders">
                                                                <section class="flex flex-col px-2">
                                                                    <mat-form-field
                                                                        appearance="fill" 
                                                                        floatLabel="always"
                                                                        class="flex flex-col w-full fuse-mat-emphasized-affix">
                                                                        <input
                                                                            matInput
                                                                            [value]="deliveryProvider.storeDeliveryServiceProvider.name"
                                                                            [readonly]="true"/>
                                                                        <img
                                                                            matSuffix
                                                                            class="w-30"
                                                                            *ngIf="deliveryProvider.storeDeliveryServiceProvider.providerImage"
                                                                            [alt]="'Delivery provider thumbnail image'"
                                                                            [src]="deliveryProvider.storeDeliveryServiceProvider.providerImage">
                                                                    </mat-form-field>
                                                                </section>
                                                            </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="displayDeliveryPeriod.deliveryProviders.length < 1">
                                                            <div class="w-full px-2 pb-2">
                                                                <!-- <mat-error *ngIf="storeDeliveryForm.get('deliveryPeriods').get('validation').hasError('noDeliveryPartner')">
                                                                    Sorry there is no delivery partner for this delivery type, please choose another delivery period
                                                                </mat-error> -->
                                                                <h1 class="text-warn">Sorry there is no delivery partner for this delivery type, please choose another delivery period</h1>
                                                                <!-- <mat-error *ngIf="storeDeliveryForm.get('step3').get('deliveryPeriods').get('validation').hasError('noDeliveryPartners')">
                                                                    Sorry there is no delivery partner for this delivery type, please choose another delivery period
                                                                </mat-error> -->
                                                            </div>
                                                        </ng-container>
                                                    </fieldset>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
            
                                        <!-- <ng-container *ngIf="storeDeliveryForm.get('deliveryType').value === 'SCHEDULED'">
                                            <section class="p-2" *ngFor="let deliveryPartner of deliveryPartners">
                                                <span class="py-0.5">{{deliveryPartner.name}}</span>
                                            </section>
                                        </ng-container> -->

                                        <!-- Adhoc -->
                                        <ng-container *ngIf="storeDeliveryForm.get('deliveryType').value === 'ADHOC'">
                                            <mat-radio-group
                                                class="flex flex-col w-full"
                                                [formControlName]="'deliverySpType'"
                                            >
                                                <ng-container *ngIf="deliveryPartners.length > 0; else noAdhocDeliveryPartners">
                                                    <section class="p-2" *ngFor="let deliveryPartner of deliveryPartners">
                                                        <mat-radio-button [value]="deliveryPartner.id">{{deliveryPartner.storeDeliveryServiceProvider.name + ' (' + deliveryPartner.fulfilment + ')'}}</mat-radio-button>
                                                    </section>
                                                    <mat-error *ngIf="storeDeliveryForm.get('deliverySpType').hasError('required')">
                                                        Required at least 1
                                                    </mat-error>
                                                </ng-container>
                                                <ng-template #noAdhocDeliveryPartners>
                                                    <section class="p-2">
                                                        <h1 class="text-warn">Sorry there is no delivery partner for this delivery type, please choose another delivery type</h1>
                                                    </section>
                                                </ng-template>
                                            </mat-radio-group>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <!-- Self Delivery -->
                            <div *ngIf="storeDeliveryForm.get('deliveryType').value === 'SELF'" class="flex flex-col w-full">
                                <mat-label class="font-medium col-span-4">Self Delivery *</mat-label>
                                <div class="mb-0.5"></div>
                                <div class="border border-gray-300 rounded min-h-26 max-h-72 overflow-auto">
                                    <div class="flex flex-auto flex-wrap p-2">
                                        <ng-container formArrayName="allowedSelfDeliveryStates" *ngFor="let allowedSelfDeliveryState of storeDeliveryForm.get('allowedSelfDeliveryStates')['controls']; let i = index;">
                                            <ng-container [formGroupName]="i">
                                                <div class="flex flex-col w-full">
                                                    <div class="flex flex-row w-full">
                                                        <div class="flex flex-col flex-wrap w-full">
                                                            <!-- Select States -->
                                                            <mat-form-field class="w-full" appearance="fill" floatLabel="always">
                                                                <mat-select
                                                                    placeholder="Select State"
                                                                    [required]="true"
                                                                    [formControlName]="'deliveryStates'"
                                                                    [value]="allowedSelfDeliveryState.deliveryStates"
                                                                    (selectionChange)="editSelfDeliveryState('deliveryStates', i, deliveryStatesSelector.value)"
                                                                    #deliveryStatesSelector="matSelect"
                                                                    >
                                                                    <mat-select-trigger>
                                                                        <span class="flex items-center">
                                                                            <span>{{ deliveryStatesSelector.triggerValue }}</span>
                                                                        </span>
                                                                    </mat-select-trigger>
                                                                    <div>
                                                                        <ng-container *ngFor="let state of storeStates">
                                                                            <mat-option [disabled]="checkCurrDeliveryStates(state.id)" [value]="state.id">{{ state.name }}</mat-option>
                                                                        </ng-container>
                                                                    </div>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <!-- Input Charges -->
                                                            <mat-form-field class="w-full">
                                                                <span matSuffix>{{ store.regionCountry.currencySymbol  }}</span>
                                                                <input
                                                                    matInput
                                                                    type="number"
                                                                    placeholder="Delivery Charges"
                                                                    [formControlName]="'deliveryCharges'"
                                                                    [required]="true"
                                                                    (change)="editSelfDeliveryState('deliveryCharges', i, $event.target.value)">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="flex flex-col pl-2 pb-4 justify-between">
                                                            <!-- Add State Button -->
                                                            <input
                                                                [id]="'state-add-button' + i"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="button"
                                                                (click)="addSelfDeliveryState()"
                                                                mat-icon-button>
                                                            <label 
                                                                class="flex order-last sm:order-first items-center justify-center w-12 h-12 rounded bg-primary cursor-pointer hover:bg-priamry-500"
                                                                [for]="'state-add-button'+i"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="text-white transform scale-75"
                                                                    [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                                            </label>
                                                            <!-- Remove State Button -->
                                                            <input
                                                                [id]="'state-remove-button'+i"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="button"
                                                                (click)="removeSelfDeliveryState(i)"
                                                                mat-icon-button>
                                                            <label 
                                                                class="flex order-first sm:order-last items-center justify-center w-12 h-12 rounded bg-warn cursor-pointer hover:bg-warn-500"
                                                                [for]="'state-remove-button'+i"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="text-white transform scale-75"
                                                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <!-- Divider -->
                                                    <div *ngIf="i < storeDeliveryForm.get('allowedSelfDeliveryStates')['controls'].length - 1" class="mb-4 border-t"></div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <mat-error *ngIf="storeDeliveryForm.get('deliveryType').hasError('required')">
                                        Required at least 1
                                    </mat-error>
                                    &#160;
                                </div>
                            </div>
                            <!-- Defalut -->
                            <div *ngIf="!storeDeliveryForm.get('deliveryType').value || storeDeliveryForm.get('deliveryType').value === ''" class="flex flex-col w-full">
                                <mat-label class="font-medium">Please choose a delivery type</mat-label>
                                <div class="mb-2"></div>
                                <div class="border border-gray-300 rounded h-72 overflow-auto">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-6 pb-8 sm:pb-0 flex items-center justify-end">
                        <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            [disabled]="storeDeliveryForm.pristine || storeDeliveryForm.invalid"
                            (click)="updateStoreDelivery()"
                            [color]="'primary'">Save
                        </button>
                        <!-- <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            (click)="validateForm()"
                            [color]="'primary'">
                            Check Error
                        </button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>