<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" class="sideNav" [(opened)]="opened">
		<img id="pin" src="assets/mxgraph/push-pin.svg" (click)="pin()">

		<div class="header text-center w-100">
			<h4>
				<input type="text" value="Send" (ngModelChange)="titleChange($event)" id="handover-title"
					(focusout)="titleFocusOut($event)" [(ngModel)]="title">
			</h4>
		</div>
		<div class="body" id="side-nav-body">
			<div class="text-center pt-5" id="buttons-list">
				<input id="description-text" type="text" [(ngModel)]="description" (focusout)="descriptionFocusOut($event)"
					placeholder="Enter your text..." (keyup)="descriptionChange($event)">
				<button (document:click)="handleClick($event)" hidden></button>

				<input [(ngModel)]="dataVariable" id="dataVariablehandover" type="text"
					(mouseout)="dataVariableFocusOut($event)" placeholder="Custom Variable">

			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<button mat-button (click)="toggle()" id="sideNavTest" hidden></button>
	</mat-sidenav-content>
</mat-sidenav-container>