<div class="flex flex-col max-w-240 md:min-w-160 -m-6">

    <!-- Compose form -->
    <div class="flex flex-col flex-auto p-1 sm:p-1 overflow-y-auto">
        <div class="mb-4"></div>

            <div class="flex">
                <!-- Selected product form -->
                <form
                    class="flex flex-col w-full"
                    [formGroup]="addProductForm">

                    <!-- Normal Section -->
                    <div class="max-h-90vh overflow-y-auto">
                        <div class="flex flex-col w-full lg:flex-row px-8 pt-8 pb-4">
                            <!-- Product images and status -->
                            <div class="flex flex-col items-center lg:w-2/12 sm:items-start">
                                <div class="flex flex-col items-center w-full">
                                    <!-- Image Frame -->
                                    <div *ngIf="!imagesEditMode" class="w-32 h-44 border rounded overflow-hidden">
                                        <ng-container *ngIf="images.length; else noImage">
                                            <img
                                                class="w-full h-full object-cover"
                                                [src]="images[currentImageIndex]">
                                        </ng-container>
                                        <ng-template #noImage>
                                            <div
                                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            >
                                                <span class="text-md">NO IMAGE</span> 
                                            </div>
                                        </ng-template>
                                    </div>
                                    
                                    <!-- Edit Image Frame -->
                                    <div *ngIf="imagesEditMode" class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                                        <div class="relative flex items-center justify-center w-32 h-44 rborder rounded overflow-hidden ring-4 ring-bg-card">
                                            <!-- Upload / Remove Image to Overide Image -->
                                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                                <!-- Add / Edit Image -->
                                                <div>
                                                    <input
                                                        id="new-image-file-input"
                                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                        type="file"
                                                        [multiple]="false"
                                                        [accept]="'image/jpeg, image/png'"
                                                        (change)="uploadImages(imageFileInput.files, images, $event);"
                                                        #imageFileInput>
                                                    <label
                                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                        for="new-image-file-input"
                                                        matRipple>
                                                        <mat-icon
                                                            class="text-white"
                                                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                                    </label>
                                                </div>
                                                <!-- Remove Image -->
                                                <div *ngIf="images.length">
                                                    <input
                                                        id="new-image-remove-button"
                                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                        type="button"
                                                        (click)="removeImage();resetCycleImages()"
                                                        mat-icon-button>
                                                    <label 
                                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                        for="new-image-remove-button"
                                                        matRipple>
                                                        <mat-icon
                                                            class="text-white"
                                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- View Image -->
                                            <img
                                                class="object-cover w-full h-full"
                                                *ngIf="images.length"
                                                [src]="images[currentImageIndex]">
                                            <!-- View No Image -->
                                            <div
                                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                                *ngIf="!images.length">
                                                <span class="text-md">NO IMAGE</span> 
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Add New Image -->
                                    <div class="flex items-center mt-2 whitespace-nowrap">
                                        <div>
                                            <input
                                                id="new-image-file-input"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="uploadImages(imageFileInput.files, []);"
                                                #imageFileInput>
                                            <label
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="new-image-file-input"
                                                matTooltip="Add image"
                                                matRipple>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                            </label>
                                        </div>
                                        <!-- Toggle Image Edit -->
                                        <div>
                                            <input
                                                id="new-image-edit-button"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="button"
                                                (click)="toggleImagesEditMode()"
                                                mat-icon-button
                                            >
                                            <label 
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="new-image-edit-button"
                                                matTooltip="Edit image"
                                                matRipple>
                                                <mat-icon
                                                    *ngIf="imagesEditMode"
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <mat-icon
                                                    *ngIf="!imagesEditMode"
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <!-- Set Thumbnail -->
                                            <div *ngIf="images.length && images.length > 1">
                                                <input
                                                    id="new-set-thumbnail-button"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    type="button"
                                                    (click)="setThumbnail(currentImageIndex)"
                                                    mat-icon-button>
                                                <label 
                                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                    for="new-set-thumbnail-button"
                                                    [matTooltip]="currentImageIndex !== thumbnailIndex ? 'Set thumbnail' : ''"
                                                    matRipple>
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="currentImageIndex === thumbnailIndex ? 'heroicons_solid:star' : 'heroicons_outline:star'"></mat-icon>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Image Cycle -->
                                    <div
                                        class="flex items-center mt-2 whitespace-nowrap"
                                        *ngIf="images.length">
                                        
                                        <input
                                            id="image-cycle-left"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                            type="button"
                                            (click)="cycleImages(false)"
                                            mat-icon-button>
                                    
                                        <label 
                                            class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                            for="image-cycle-left"
                                            matRipple>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:arrow-narrow-left'"></mat-icon>
                                        </label>

                                        <span class="font-sm mx-2">
                                            {{currentImageIndex + 1}} of {{images.length}}
                                        </span>

                                        <input
                                            id="image-cycle-right"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                            type="button"
                                            (click)="cycleImages(true)"
                                            mat-icon-button>
                                    
                                        <label 
                                            class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                            for="image-cycle-right"
                                            matRipple>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                                        </label>
                                    </div>
                                </div>
                                <!-- Product status -->
                                <div class="flex flex-col mt-8 w-full">
                                    <mat-form-field class="w-full" floatLabel="always">
                                        <mat-label class="font-medium">Product status</mat-label>
                                        <mat-select
                                            required
                                            floatLabel="always"
                                            placeholder="Select one option"
                                            [formControlName]="'status'"
                                            (selectionChange)="addProductForm.get('status').patchValue(statusSelector.value)"
                                            (selectionChange)="statusSelector.value === 'OUT_OF_STOCK' ? addProductForm.get('availableStock').patchValue(0) : ''"
                                            #statusSelector="matSelect"
                                            >
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span>{{ statusSelector.triggerValue }}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <div>
                                                <mat-option [value]="'ACTIVE'">Active</mat-option>
                                                <mat-option [value]="'INACTIVE'">Inactive</mat-option>
                                                <mat-option [value]="'OUT_OF_STOCK'">Out of Stock</mat-option>
                                            </div>
                                        </mat-select>
                                        <!-- <mat-slide-toggle
                                            [formControlName]="'status'"
                                            [color]="'primary'">
                                            {{addProductForm.get('status').value === "ACTIVE" ? true : false}}
                                        </mat-slide-toggle> -->
                                        <mat-error *ngIf="addProductForm.get('status').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Name, Description, SKU -->
                            <div class="flex flex-auto flex-wrap w-full lg:w-7/12 mt-3 lg:mt-0">
                                <div class="flex flex-col w-full lg:w-2/3 lg:pl-8">

                                    <!-- Name -->
                                    <mat-form-field class="w-full" appearance="fill" floatLabel="always">
                                        <mat-label>Name</mat-label>
                                        <input
                                            matInput
                                            required
                                            [placeholder]="'Insert product ' + ((data['productType'] === 'combo') ? 'combo ' : '') + 'name'"
                                            [formControlName]="'name'"
                                            (change)="generateSku()"
                                        >
                                        <mat-error *ngIf="addProductForm.get('name').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- Description -->
                                    <div class="w-full mb-4">
                                        <span class="font-medium leading-tight">Description *</span>
                                        <div class="mt-1.5 flex items-center -my-px w-full">
                                            <quill-editor
                                                class="w-full"
                                                [formControlName]="'description'"
                                                [modules]="quillModules"></quill-editor>
                                            <!-- use (onContentChanged)="textChanged($event)" for limiting quil editor -->
                                        </div>
                                        <!-- <mat-error *ngIf="addProductForm.get('description').hasError('required')">
                                            Required
                                        </mat-error> -->
                                    </div>
                                </div>
                                
                                <!-- SKU, Price, Packing Size, Category-->
                                <div class="flex flex-col w-full lg:w-1/3 lg:pl-8">
                                    <!-- SKU -->
                                    <mat-form-field class="w-full pr-2" appearance="fill" floatLabel="always">
                                        <mat-label>SKU</mat-label>
                                        <input
                                            matInput
                                            required
                                            [formControlName]="'sku'"
                                            placeholder="Insert SKU"
                                        >
                                        <mat-error *ngIf="addProductForm.get('sku').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- Price -->
                                    <mat-form-field 
                                        class="w-full pr-2"
                                        appearance="fill" floatLabel="always"
                                    >
                                        <mat-label>Price</mat-label>
                                        <span matSuffix>{{store$.regionCountry.currencySymbol}}</span>
                                        <input
                                            matInput
                                            required
                                            [formControlName]="'price'"
                                            placeholder="Insert price"
                                            type="number"
                                        >
                                        <mat-error *ngIf="addProductForm.get('price').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- Packing Size -->
                                    <mat-form-field 
                                        class="w-full pr-2"
                                        appearance="fill" floatLabel="always"
                                        *ngIf="store$.verticalCode === 'E-Commerce' || store$.verticalCode === 'ECommerce_PK' || store$.verticalCode === 'e-commerce-b2b2c'">
                                        <mat-label>Packing Size</mat-label>
                                        <mat-select
                                            required
                                            class="w-full"
                                            appearance="fill"
                                            [formControlName]="'packingSize'"
                                            [value]="packingSize"
                                            placeholder="Select one option"
                                            (selectionChange)="addProductForm.get('packingSize').patchValue(packingSizeSelector.value)"
                                            #packingSizeSelector="matSelect"
                                            >
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span>{{ packingSizeSelector.triggerValue }}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <div>
                                                <mat-option [value]="'S'">Small</mat-option>
                                                <mat-option [value]="'M'">Medium</mat-option>
                                                <mat-option [value]="'L'">Large</mat-option>
                                                <mat-option [value]="'XL'">Xtra Large</mat-option>
                                            </div>
                                        </mat-select>
                                        <mat-error *ngIf="addProductForm.get('packingSize').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <!-- Category -->
                            <div class="flex flex-col w-full lg:w-3/12 lg:pl-8">
                                <!-- Category -->
                                <div class="w-full">
                                    <span class="mb-px font-medium leading-tight">Category</span>
                                    <div class="mt-0.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                                        <!-- Header -->
                                        <div class="flex items-center -my-px py-2 px-3">
                                            <div class="flex items-center flex-auto min-w-0">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                <input
                                                    class="min-w-0 ml-2 py-1 border-0"
                                                    type="text"
                                                    placeholder="Enter Category name"
                                                    (input)="filterCategories($event)"
                                                    (keydown)="filterCategoriesInputKeyDown($event)"
                                                    [maxLength]="20"
                                                    #newCategoryInput>
                                            </div>
                                            <input
                                                id="category-edit-button"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="button"
                                                (click)="toggleCategoriesEditMode()"
                                                mat-icon-button>
                                            
                                            <label 
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="category-edit-button"
                                                matRipple>
                                                <mat-icon
                                                    *ngIf="!productCategoriesEditMode"
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                                <mat-icon
                                                    *ngIf="productCategoriesEditMode"
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            </label>
                                        </div>
                                        <!-- Available categories -->
                                        <div class="h-30 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                                            <!-- Categories -->
                                            <ng-container *ngIf="!productCategoriesEditMode">
                                                <ng-container *ngFor="let category of filteredProductCategories; trackBy: trackByFn;">
                                                    <mat-checkbox
                                                        class="flex items-center h-10 min-h-10 px-4"
                                                        [color]="'primary'"
                                                        [checked]="addProductForm.get('categoryId').value.includes(category.id)"
                                                        (change)="toggleProductCategory(category, $event);"
                                                    >
                                                        {{category.name}}
                                                    </mat-checkbox>
                                                </ng-container>
                                            </ng-container>
                                            <!-- Categories editing -->
                                            <ng-container *ngIf="productCategoriesEditMode">
                                                <div class="p-4 space-y-2">
                                                    <ng-container>
                                                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                                                            <input
                                                                matInput
                                                                [id]="'category-input-' + category.id"
                                                                [value]="category.name"
                                                                [readonly]="!productCategoriesValueEditMode[i]"
                                                                (input)="updateLocalCategoryTitle(category, $event)"
                                                            >
                                                            <input
                                                                [id]="'category-edit-' + category.id"
                                                                type="button"
                                                                (click)="productCategoriesValueEditMode[i] = !productCategoriesValueEditMode[i]"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                mat-button>
                                                            <label 
                                                                *ngIf="!productCategoriesValueEditMode[i]"
                                                                class="flex items-center justify-center p-2 rounded-full cursor-pointer hover:bg-hover"
                                                                [for]="'category-edit-' + category.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="icon-size-5"
                                                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                                            </label>
                                                            <input
                                                                [id]="'category-add-' + category.id"
                                                                type="button"
                                                                (click)="productCategoriesValueEditMode[i] = !productCategoriesValueEditMode[i]; updateServerCategoryTitle(category, $event)"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                mat-button>
                                                            <label 
                                                                *ngIf="productCategoriesValueEditMode[i]"
                                                                class="flex items-center justify-center p-2 rounded-full cursor-pointer hover:bg-hover"
                                                                [for]="'category-add-' + category.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="icon-size-5"
                                                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                            </label>
                                                            <input
                                                                [id]="'category-remove-' + category.id"
                                                                type="button"
                                                                (click)="deleteCategory(category)"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                mat-button>
                                                            <label 
                                                                class="flex items-center justify-center p-2 rounded-full cursor-pointer hover:bg-hover"
                                                                [for]="'category-remove-' + category.id"
                                                                matRipple>
                                                                <mat-icon
                                                                    class="icon-size-5"
                                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                            </label>
                                                        </mat-form-field>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                            <div
                                                class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
                                                *ngIf="shouldShowCreateCategoryButton(newCategoryInput.value)"
                                                (click)="createCategory(newCategoryInput.value); newCategoryInput.value = ''"
                                                matRipple>
                                                <mat-icon
                                                    class="mr-2 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                                <div class="break-all">Create "<b>{{newCategoryInput.value}}</b>"</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col sm:flex-row pb-4 border-t pt-4 px-8">
                            <div class="flex flex-auto flex-wrap">
                                <!-- Available stock row -->
                                <div class="flex flex-col w-full sm:w-1/5 sm:pr-2 sm:border-r py-2 sm:py-0">
                                    <span class="mb-2 font-medium leading-tight">Available Stock
                                        <mat-icon
                                            matTooltip="Current available stock"
                                            class="transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </span>
                                    <mat-form-field 
                                        class="mt-0 sm:mt-1 flex items-center -my-px w-full"
                                        appearance="fill" floatLabel="always"
                                    >
                                        <input
                                            (input)="(addProductForm.get('availableStock').value > 0 && addProductForm.get('status').value === 'OUT_OF_STOCK') ? addProductForm.get('status').patchValue('ACTIVE') : ''"
                                            placeholder="Insert current stock"
                                            [formControlName]="'availableStock'"
                                            type="number"
                                            matInput
                                        >
                                        <mat-error *ngIf="addProductForm.get('availableStock').hasError('required')">
                                            Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Track Stock Level -->
                                <div class="flex flex-col w-full sm:w-1/5 sm:px-2 sm:border-r py-2 sm:py-0">
                                    <span class="mb-2 sm:mb-4 font-medium leading-tight">Track Stock Level
                                        <mat-icon
                                            matTooltip="Keep track the quantity of the stock"
                                            class="transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </span>
                                    <div class="mt-0 flex items-center -my-px w-full">
                                        <mat-slide-toggle
                                            [formControlName]="'trackQuantity'"
                                            [color]="'primary'"
                                            (change)="disabledTrackStock($event.checked)"
                                            >
                                            {{addProductForm.get('trackQuantity').value === true ? 'Active' : 'Disabled'}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <!-- Out of Stock Selling -->
                                <div class="flex flex-col w-full sm:w-1/5 sm:px-2 sm:border-r py-2 sm:py-0">
                                    <span class="mb-2 font-medium leading-tight">Out of Stock Selling
                                        <mat-icon
                                            matTooltip="Continue selling even when out of stock"
                                            class="transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </span>
                                    <div class="mt-0 sm:mt-3 flex items-center -my-px w-full">
                                        <mat-slide-toggle
                                            [disabled]="addProductForm.get('trackQuantity').value === false"
                                            [formControlName]="'allowOutOfStockPurchases'"
                                            [color]="'primary'">
                                            {{addProductForm.get('allowOutOfStockPurchases').value === true ? 'Yes' : 'No'}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <!-- Low Stock Alarm -->
                                <div class="flex flex-col w-full sm:w-1/5 sm:px-2 sm:border-r py-2 sm:py-0">
                                    <span class="mb-2 font-medium leading-tight">Low Stock Alarm
                                        <mat-icon
                                            matTooltip="Minimum 0 value to activate the alarm. Input negative value to disable the alarm"
                                            class="transform scale-75"
                                            [svgIcon]="'heroicons_solid:question-mark-circle'">
                                        </mat-icon>
                                    </span>
                                    <div *ngIf="addProductForm.get('minQuantityForAlarm').value < 0" class="mt-0 sm:mt-3 flex items-center -my-px w-full">
                                        <mat-slide-toggle
                                            [color]="'primary'"
                                            [disabled]="addProductForm.get('trackQuantity').value === false"
                                            (click)="addProductForm.get('minQuantityForAlarm').value = 0"
                                            >
                                            {{addProductForm.get('minQuantityForAlarm').value >= 0 ? 'Active' : 'Disabled'}}
                                        </mat-slide-toggle>
                                    </div>
                                    <mat-form-field *ngIf="addProductForm.get('minQuantityForAlarm').value >= 0" class="mt-0 sm:mt-1 flex items-center -my-px w-full">
                                        <input
                                            type="number"
                                            matInput
                                            [formControlName]="'minQuantityForAlarm'">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
    
                        <!-- Delete and cancel button -->
                        <div class="flex items-center justify-end border-t px-8 py-4">
                            <div *ngIf="message !== ''" class="mr-3 text-warn">
                                {{message}}
                            </div>
                            <div class="flex items-center">
                                <button
                                    mat-flat-button
                                    class="bg-gray-300 hover:bg-gray-500 border border-gray-500"
                                    [color]="'gray'"
                                    (click)="cancelAddProduct()"
                                    >
                                    Cancel
                                </button>
                                <button
                                    mat-flat-button
                                    class="ml-2"
                                    [color]="'primary'"
                                    (click)="addNewProduct()"
                                >
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>