<div class="flex flex-col max-w-320 lg:min-w-320 -m-6 px-4 overflow-hidden">
    <form
        class="flex flex-col w-full"
        [formGroup]="productDiscountStepperForm">
        <mat-horizontal-stepper
            [linear]="true"
            #horizontalStepper>

            <!-- SECTION FOR ORDER DISCOUNT -->
            <mat-step
                [formGroupName]="'step1'"
                [stepControl]="productDiscountStepperForm.get('step1')"
                #horizontalStepperStep1>
                <ng-template matStepLabel>Product Discount</ng-template>
                <div class="content flex flex-col h-full sm:h-auto mb-3 w-full overflow-hidden sm:overflow-y-auto">
                    <!-- discount name, status -->
                    <div class="flex flex-col sm:flex-row">
                        <!-- discount name -->
                        <mat-form-field 
                            floatLabel="always"
                            appearance="fill"
                            class="w-full sm:w-1/2 sm:pr-2 fuse-mat-emphasized-affix">
                            <mat-label>Discount Name</mat-label>
                            <input 
                                matInput
                                placeholder="Enter discount name"
                                [formControlName]="'discountName'"        
                            >
                            <mat-icon
                                *ngIf="currentScreenSize.includes('sm') ? true : false"
                                matPrefix
                                [svgIcon]="'heroicons_outline:tag'">
                            </mat-icon>
                        </mat-form-field>
                        <!-- status -->
                        <mat-form-field 
                            floatLabel="always"
                            appearance="fill"
                            class="w-full sm:w-1/2 sm:pl-2 fuse-mat-emphasized-affix">
                            <mat-label>Status</mat-label>
                            <mat-select
                                class="w-full"
                                placeholder="Select status"
                                [formControlName]="'isActive'"
                                >
                                <div>
                                    <mat-option [value]="true">Active</mat-option>
                                    <mat-option [value]="false">Inactive</mat-option>
                                </div>
                            </mat-select>
                            <mat-icon
                                *ngIf="currentScreenSize.includes('sm') ? true : false"
                                matPrefix
                                [svgIcon]="'heroicons_outline:question-mark-circle'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                
                    <!-- start date/time -->
                    <div class="w-full flex flex-col">
                        <div class="font-semibold mb-2 w-full">Start date/time</div>
                        <div class="w-full flex flex-col sm:flex-row">
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pr-2 fuse-mat-emphasized-affix"
                                appearance="fill">
                                <input 
                                    matInput 
                                    type="date" 
                                    [formControlName]="'startDate'">
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:calendar'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pl-2 fuse-mat-emphasized-affix" 
                                appearance="fill">
                                <time-selector
                                    class="w-full"
                                    matInput
                                    type="time" 
                                    [formControlName]="'startTime'"                   
                                ></time-selector>
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:clock'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
            
                    <!-- End date /time -->
                    <div class="w-full flex flex-col">
                        <div class="font-semibold mb-2 w-full">End date/time</div>
                        <div class="w-full flex flex-col sm:flex-row">
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pr-2 fuse-mat-emphasized-affix"
                                appearance="fill">
                                <input 
                                    matInput 
                                    type="date" 
                                    [formControlName]="'endDate'">
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:calendar'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field 
                                class="w-full sm:w-1/2 sm:pl-2 fuse-mat-emphasized-affix" 
                                appearance="fill">
                                <time-selector
                                    class="w-full"
                                    matInput
                                    type="time" 
                                    [formControlName]="'endTime'"                   
                                ></time-selector>
                                <mat-icon
                                    *ngIf="currentScreenSize.includes('sm') ? true : false"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:clock'">
                                </mat-icon>
                            </mat-form-field>
                
                        </div>
                    </div>
                </div>

                <!-- Delete, Cancel , Next -->
                <div class="w-full flex flex row items-center justify-between">

                    <!-- Delete -->
                    <div class="justify-self-start"> 
                        <input
                        id="product-remove-button"
                        type="button"
                        (click)="deleteSelectedDiscount()"
                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                        mat-button>
                        <label 
                            class="flex items-center justify-center h-10 px-4 border rounded border-red-300 dark:border-red-500 cursor-pointer hover:bg-hover"
                            for="product-remove-button"
                            matRipple>
                            <span>Delete</span>
                            <mat-icon
                                class="ml-1"
                                [color]="'warn'"
                                [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </label>
                    </div>

                    <!-- Cancel, Next button -->
                    <div class="justify-end">
                        <!-- Cancel button -->
                        <button
                            mat-flat-button
                            class="w-24 mr-2 bg-gray-300 hover:bg-gray-500 border border-gray-500"
                            [color]="'gray'"
                            (click)="cancel()"
                            >
                            Cancel
                        </button>
                        <!-- Next variant button -->
                        <button
                            class="w-24"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            matStepperNext>
                            Next
                        </button>
                    </div>

                </div>
            </mat-step>

            <!-- SECTION FOR View Product -->
            <mat-step
                formArrayName="step2"
                [stepControl]="productDiscountStepperForm.get('step2')"
                #horizontalStepperStep2>
                <ng-template matStepLabel>View Product</ng-template>
                <div class="overflow-y-auto">
                    <div class="flex flex-col sm:flex-row flex-auto mb-2">      
                        <!-- Product Search -->
                        <div class="w-full sm:w-1/2 sm:pr-2">
                            <!-- Header -->
                            <div class="flex flex-col sm:flex-row w-full items-center justify-between py-2 mb-1 h-auto sm:h-14">
                                <div class="flex w-full sm:w-1/2 items-center text-lg font-extrabold mb-2 sm:mb-0">Product Search</div>
                                <div class="flex flex-col w-full sm:w-1/2 sm:flex-row items-center sm:mb-2  ">
                                    <!-- Category filter -->
                                    <mat-form-field class="w-full order-2 sm:order-1 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded sm:pr-2">
                                        <mat-select
                                            class="w-full"
                                            placeholder="Category"
                                            (selectionChange)="onSelectCategoryList($event)">
                                            <div>
                                                <mat-option [value]="">All Categories</mat-option>
                                                <mat-option *ngFor="let listing of filteredCategories;" [value]="listing.id">
                                                    {{listing.name}}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </mat-form-field>
                
                                    <!-- Product filter -->
                                    <mat-form-field class="w-full order-1 sm:order-2 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded mb-2 sm:mb-0">
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                        <input
                                            matInput
                                            [autocomplete]="'off'"
                                            [placeholder]="'Products'"
                                            (input) = "inputSearchProduct($event)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Content -->
                            <div class="relative flex flex-col border border-solid rounded p-2 h-96">
                                <!-- Table -->
                                <ng-container *ngIf="(products$ | async) as products">
                                    <div class="grid overflow-auto rounded">
                                        <!-- Header -->
                                        <div
                                            class="edit-product-product-grid sticky grid gap-1 sm:gap-4 py-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        >
                                            <div></div>
                                            <div>
                                                Product Name
                                            </div>
                                            <div class="text-center">
                                                Original Price
                                            </div>
                                            <div class="text-center">
                                                Have Variant
                                            </div>
                                        </div>
                                        <!-- Rows -->
                                        <div 
                                            class="overflow-y-auto">
                                            <div *ngFor="let productList of products; let i = index;">
                                                <!-- Product Body -->
                                                <div class="edit-product-product-grid grid items-center gap-4 py-2 sm:py-3 border-b">      
                                                    <!-- Min Order Amount -->
                                                    <div class="truncate">
                                                        <mat-checkbox  
                                                            class="flex items-center pl-2"
                                                            [color]="'primary'"
                                                            (change)="onChangeSelectProduct(productList,$event)"
                                                            [checked]="onChangeSelectProductValue.includes(productList.id)"></mat-checkbox>
                                                    </div>
                
                                                    <!-- Product Name -->
                                                    <div class="truncate">
                                                        {{productList.name}}
                                                    </div>
    
                                                    <!-- Original Price -->
                                                    <div class="truncate text-center">
                                                        {{productList.productInventories[0].price}}
                                                    </div>
                
                                                    <!-- Action Button -->
                                                    <div class="truncate text-center">
                                                        <ng-container *ngIf="productList.productVariants.length > 0">
                                                            <mat-icon
                                                                class="text-green-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                        </ng-container>
                                                        <ng-container *ngIf="productList.productVariants.length === 0">
                                                            <mat-icon
                                                                class="text-gray-400 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- Pagination & Button -->
                                <div class="absolute flex flex-row justify-between items-center bg-white px-4 bottom-0 left-0 right-0 w-full">
                                    <mat-paginator
                                        class=""
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="productPagination.length"
                                        [pageIndex]="productPagination.page"
                                        [pageSize]="productPagination.size"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [showFirstLastButtons]="true"
                                        [hidePageSize]="true"
                                        #productPaginator>
                                    </mat-paginator>
                                    <!-- Send -->
                                    <!-- Button Big -->
                                    <button
                                        *ngIf="currentScreenSize.includes('sm') ? true : false"
                                        class="flex"
                                        mat-flat-button
                                        (click)="addProductDiscount()"
                                        [color]="'primary'">
                                        Add
                                    </button>
                                    <!-- Button small -->
                                    <input
                                        id="add-product-discount-btn"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        [multiple]="false"
                                        (click)="addProductDiscount()"
                                        #imageFileInput>
                                    <label
                                        *ngIf="currentScreenSize.includes('sm') ? false : true"
                                        class="flex items-center justify-center w-7 h-7 rounded-full cursor-pointer bg-primary hover:bg-primary-500"
                                        for="add-product-discount-btn"
                                        matRipple>
                                        <mat-icon
                                            class="icon-size-5 text-white"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                    </label>
                                </div>
                            </div>
                        </div>
                
                        <!-- Selected Product -->
                        <div class="w-full sm:w-1/2 sm:pl-2">
                            <!-- Title -->
                            <div class="flex flex-row text-lg font-extrabold py-2 items-end sm:items-center mb-1 h-14">Selected Product</div>
                            <!-- Content -->
                            <div class="relative flex flex-col border border-solid rounded p-2 h-96">
                                <!-- Table -->
                                <ng-container *ngIf="(storeDiscountProduct$ | async) as storeDiscountProducts">
                                    <div class="grid overflow-auto rounded">
                                        <!-- Header -->
                                        <div
                                            class="edit-product-discount-grid sticky grid gap-1 sm:gap-4 py-3 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        >
                                            <div>
                                                Product Name (SKU)
                                            </div>
                                            <div class="text-center">
                                                Original Price
                                            </div>
                                            <div class="text-center">
                                                Discount %
                                            </div>
                                            <div class="text-center">
                                                Action
                                            </div>
                                        </div>
                                        <!-- Rows -->
                                        <div 
                                            class="overflow-y-auto">
                                            <div *ngFor="let productDiscountList of storeDiscountProducts; let i = index;">
                                                <!-- Selected Product Header -->
                                                <div class="edit-product-discount-grid grid items-center gap-4 py-1 border-b">      
                                                    <!-- Product Name (SKU) -->
                                                    <div class="truncate">
                                                        {{ productDiscountList.productInventory.product.name + " ( "+productDiscountList.productInventory.sku +  " ) " }}
                                                    </div>
                
                                                    <!-- Original Price-->
                                                    <div class="truncate text-center">
                                                        {{productDiscountList.productInventory.price}}
                                                    </div>
    
                                                    <!-- Discount % -->
                                                    <div class="truncate text-center">
                                                        <div *ngIf=!editModeDiscountProduct[i]>{{productDiscountList.discountAmount}}</div>
                                            
                                                        <div *ngIf=editModeDiscountProduct[i]>
                                                            <input
                                                                class="p-2 border border-gray-500 rounded w-18"
                                                                type="number"
                                                                [value]="productDiscountList.discountAmount"
                                                                (input)="inputEditDiscountAmount(i,$event)"
                                                            >
                                                        </div>
                                                    </div>
                
                                                    <!-- Action Button -->
                                                    <div class="truncate flex w-full items-center justify-center">
                                                        <!-- Edit Button -->
                                                        <input
                                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                            type="button"
                                                            [id]="'edit-button'+productDiscountList.id"
                                                            (click)="editModeDiscountProduct[i] = !editModeDiscountProduct[i]">
                                                        <label
                                                            *ngIf="!editModeDiscountProduct[i]"
                                                            class="flex items-center justify-center w-7 h-7 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400 mr-2"
                                                            [for]="'edit-button'+productDiscountList.id"
                                                            matRipple>
                                                            <mat-icon
                                                                class="text-white icon-size-5"
                                                                [svgIcon]="'heroicons_outline:pencil-alt'">
                                                            </mat-icon>
                                                        </label>
                                
                                                        <!-- Update Button -->
                                                        <input
                                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                            type="button"
                                                            [id]="'update-button'+productDiscountList.id"
                                                            (click)="editModeDiscountProduct[i] = !editModeDiscountProduct[i]"
                                                            (click)="editStoreProductDiscount(productDiscountList)">
                                                        <label
                                                            *ngIf="editModeDiscountProduct[i]"
                                                            class="flex items-center justify-center w-7 h-7 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400 mr-2"
                                                            [for]="'update-button'+productDiscountList.id"
                                                            matRipple>
                                                            <mat-icon
                                                                class="text-white icon-size-5"
                                                                [svgIcon]="'heroicons_outline:check'">
                                                            </mat-icon>
                                                        </label>
                                
                                                        <!-- Delete Button -->
                                                        <input
                                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                            type="button"
                                                            [id]="'delete-button'+productDiscountList.id"
                                                            (click)="deleteStoreProductDiscount(productDiscountList)">
                                                        <label
                                                            class="flex items-center justify-center w-7 h-7 rounded-full cursor-pointer bg-warn hover:bg-warn-700"
                                                            [for]="'delete-button'+productDiscountList.id"
                                                            matRipple>
                                                            <mat-icon
                                                                class="text-white icon-size-5"
                                                                [svgIcon]="'heroicons_outline:trash'">
                                                            </mat-icon>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="absolute bottom-0 left-0 right-0 w-full">
                                    <mat-paginator
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="storeDiscountPagination.length"
                                        [pageIndex]="storeDiscountPagination.page"
                                        [pageSize]="storeDiscountPagination.size"
                                        [pageSizeOptions]="[5]"
                                        [hidePageSize]="true"
                                        [showFirstLastButtons]="true"
                                        #productDiscountPaginator>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full flex flex row items-center justify-between">
                    <!-- Delete -->
                    <div class="justify-self-start"> 
                        <input
                        id="product-remove-button"
                        type="button"
                        (click)="deleteSelectedDiscount()"
                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                        mat-button>
                        <label 
                            class="flex items-center justify-center h-10 px-4 border rounded border-red-300 dark:border-red-500 cursor-pointer hover:bg-hover"
                            for="product-remove-button"
                            matRipple>
                            <span>Delete</span>
                            <mat-icon
                                class="ml-1"
                                [color]="'warn'"
                                [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </label>
                    </div>
                    <!-- Back, Update button -->
                    <div class="justify-end">
                        <!-- Back button -->
                        <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious>
                        Back
                        </button>
                        <!-- Update button -->
                        <button 
                        class="px-8"
                        [ngClass]="isLoading ? 'cursor-wait' : 'cursor-pointer'"
                        mat-flat-button
                        [disabled]="isLoading"
                        [color]="'primary'"
                        type="button"
                        (click)="updateSelectedDiscount()">
                        Update
                        </button>
                    </div>
                </div>

            </mat-step>

        </mat-horizontal-stepper>
    </form>
</div>
