<div
    class="absolute mb-12 inset-0 flex flex-col min-w-0 overchannel-y-auto"
    cdkScrollable>
    <div class="flex flex-col flex-auto w-full">
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
            <!-- Title and action buttons -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center w-full sm:justify-between py-8 px-6 md:px-8 border-b">
                <div>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Channels Management</h2>
                    <div class="font-medium tracking-tight text-secondary">Keep track of your financial status</div>
                </div>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Add customer button -->
                    <button
                        class="ml-4"
                        mat-flat-button
                        (click)="createChannel()"
                        [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Add</span>
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                <!-- Recent channels table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overchannel-hidden">
                    <div class="flex flex-col sm:flex-row p-6 sm:justify-between">
                        <div class="flex w-full">
                            <div class="flex-0">
                                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent channels</div>
                                <div class="text-secondary font-medium">1 pending, 4 completed</div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <div class="overchannel-x-auto mx-6">
                            <table
                                class="w-full bg-transparent"
                                mat-table
                                matSort
                                matSortDisableClear
                                [dataSource]="channelsList"
                                [trackBy]="trackByFn"
                                #channelsListTable>
    
                                <!-- Channel Name -->
                                <ng-container matColumnDef="title">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Channel Name
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let channel">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{channel.channelName}}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Description -->
                                <ng-container matColumnDef="description">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Reference Id
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let channel">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{channel.refId}}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Status -->
                                <ng-container matColumnDef="status">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Token
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let channel">
                                        <span class="pr-6 font-medium whitespace-nowrap">
                                            {{channel.token}}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Details -->
                                <ng-container matColumnDef="details">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td
                                        mat-cell
                                        class="px-2"
                                        *matCellDef="let channel">
                                        <div class="flex flex-wrap">
                                            <!-- edit button -->
                                                <input
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="button"
                                                >
                                                <label
                                                    class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400  mr-3"
                                                    matRipple>
                                                    <mat-icon
                                                        class="text-white icon-size-5"
                                                        [svgIcon]="'heroicons_outline:pencil-alt'">
                                                    </mat-icon>
                                                </label>
                                                <!-- delete button -->
                                                <input
                                                    id="delete-channel-button"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    type="button"
                                                    (click)="deleteSelectedChannel(channel.id)"
                                                >
                                                <label
                                                    class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-warn hover:bg-warn-700"
                                                    for="delete-channel-button"
                                                    matRipple>
                                                    <mat-icon
                                                        class="text-white icon-size-5"
                                                        [svgIcon]="'heroicons_outline:trash'">
                                                    </mat-icon>
                                                </label>                                               
                                        </div>
                                            
                                    </td>
                                </ng-container>

                                <!-- Action -->
                                <ng-container matColumnDef="action">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td
                                        mat-cell
                                        class="px-2"
                                        *matCellDef="let channel"
                                    >
                                        <input
                                            [id]="'action-' + channel.id"
                                            type="button"
                                            (click)="updateStatus(channel.id, getNextCompletionStatus(channel.completionStatus).nextId)"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                            mat-button>
                                        <label 
                                            *ngIf="getNextCompletionStatus(channel.completionStatus).nextLabelBtn !== null"    
                                            class="flex items-center justify-center py-2 px-1 rounded-full cursor-pointer border border-primary border-solid group hover:bg-primary"
                                            [for]="'action-' + channel.id"
                                            matRipple>
                                            <span class="font-medium group-hover:text-white text-sm text-primary whitespace-nowrap">
                                                {{ (channel.completionStatus) ? getNextCompletionStatus(channel.completionStatus).nextLabelBtn : 'Undefined' }}
                                            </span>
                                        </label>
                                    </td>
                                </ng-container>
    
                                <!-- Footer -->
                                <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td
                                        class="py-6 px-0 border-0"
                                        mat-footer-cell
                                        *matFooterCellDef
                                        colspan="6">
                                    </td>
                                </ng-container>

                                
                                <tr
                                mat-header-row
                                *matHeaderRowDef="channelsListTableColumns"></tr>
                                <tr
                                class="order-row h-16"
                                mat-row
                                *matRowDef="let row; columns: channelsListTableColumns;"></tr>
                                <!-- <tr
                                class="h-16 border-0"
                                mat-footer-row
                                *matFooterRowDef="['recentOrdersTableFooter']"></tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-6"></div>
</div>

<mat-paginator
    class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{'pointer-events-none': isLoading}"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator>
