<div
    class="absolute mb-12 inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <div class="flex flex-col flex-auto w-full">
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
            <!-- Title and action buttons -->
            <div class="flex items-center justify-between w-full">
                <div>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Orders Management</h2>
                    <div class="font-medium tracking-tight text-secondary">Keep track of your financial status</div>
                </div>
                <div class="flex items-center ml-6">
                    <!-- <button
                        class="hidden sm:inline-flex"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                        <span class="ml-2">Reports</span>
                    </button>
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button> -->
                    <!-- <button
                        class="hidden sm:inline-flex ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2">Export</span>
                    </button> -->

                    <!-- Actions menu (visible on xs) -->
                    <!-- <div class="sm:hidden">
                        <button
                            [matMenuTriggerFor]="actionsMenu"
                            mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                             <button mat-menu-item>Reports</button>
                            <button mat-menu-item>Settings</button>
                            <button mat-menu-item>Export</button>
                        </mat-menu>
                    </div> -->
                </div>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                <!-- Recent transactions table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row p-6 sm:justify-between">
                        <div class="flex w-full">
                            <div class="flex-0">
                                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent transactions</div>
                                <!-- <div class="text-secondary font-medium">1 pending, 4 completed</div> -->
                            </div>
                        </div>
                        <div class="flex w-full sm:w-auto mt-4 sm:mt-0">
                            <div class="flex items-center justify-center pr-2">
                                <mat-select
                                    id="filter-control-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    [value]="filterList"
                                    #selectFilter
                                >
                                    <mat-option [value]="'transactionId'">Transaction ID</mat-option>
                                    <mat-option [value]="'name'">Customer Name</mat-option>
                                    <mat-option [value]="'date'">Date</mat-option>
                                    <!-- <mat-option [value]="'status'">Status</mat-option> -->
                                </mat-select>
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="filter-control-input"
                                    (click)="openSelector()"
                                    matRipple>
                                    <mat-icon
                                        class="icon-size-5  border-red-500"
                                        [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                                </label>
                            </div>
                            <mat-form-field
                                *ngIf="selectFilter.value === 'transactionId'"
                                class="fuse-mat-no-subscript w-full sm:w-72"
                                [floatLabel]="'always'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    [formControl]="filterTrxIdControl"
                                    [placeholder]="'Search by Transaction ID'"
                                    matInput
                                    #query>
                                <div>
                                    <input
                                        id="clear-search-button"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        (click)="clearFilter()"
                                        mat-icon-button>
                                    <label 
                                        class="flex items-center justify-center w-8 h-8 rounded-full cursor-pointer hover:bg-hover"
                                        for="clear-search-button"
                                        matRipple>
                                        <mat-icon
                                            class="text-gray-400 icon-size-5"
                                            [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    </label>
                                </div>
                            </mat-form-field>
                            <mat-form-field
                                *ngIf="selectFilter.value === 'name'"
                                class="fuse-mat-no-subscript w-full sm:w-72"
                                [floatLabel]="'always'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    [formControl]="filterCustNameControl"
                                    [placeholder]="'Search by Customer Name'"
                                    matInput
                                    #query>
                                <div>
                                    <input
                                        id="clear-search-button"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="button"
                                        (click)="clearFilter()"
                                        mat-icon-button>
                                    <label 
                                        class="flex items-center justify-center w-8 h-8 rounded-full cursor-pointer hover:bg-hover"
                                        for="clear-search-button"
                                        matRipple>
                                        <mat-icon
                                            class="text-gray-400 icon-size-5"
                                            [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    </label>
                                </div>
                            </mat-form-field>
                            <mat-form-field 
                                *ngIf="selectFilter.value === 'date'"
                                class="fuse-mat-no-subscript w-full sm:w-72"
                                appearance="fill"
                            >

                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate [formControl]="filterDateInputStartControl" placeholder="mm/dd/yyyy" >
                                    <input matEndDate [formControl]="filterDateInputEndControl" placeholder="mm/dd/yyyy">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              
                                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                            </mat-form-field>

                            <mat-form-field
                                *ngIf="selectFilter.value === 'status'"
                                class="fuse-mat-no-subscript w-full sm:w-72"
                                appearance="fill"
                            >
                                <mat-select
                                    placeholder="Status"
                                    #selectStatus
                                >
                                    <mat-select-trigger>
                                        <span class="flex items-center">
                                            <span>{{ selectStatus.triggerValue }}</span>
                                        </span>
                                    </mat-select-trigger>
                                    <ng-container *ngFor="let completionStatus of completionStatuses">
                                        <mat-option [value]="completionStatus.id">
                                            {{ completionStatus.label }} {{ (completionStatus.label === 'New') ? '(' + completionStatus.id + ')' : '' }}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <ul class="flex mb-0 list-none flex-wrap pb-4 px-4 flex-row">
                        <ng-container *ngFor="let orderStatus of _orderCountSummary">
                            <li class="-mb-px mr-2 pb-2 last:mr-0 flex-auto text-center">
                                <a class="text-xs font-bold uppercase px-5 py-3 border cursor-pointer	shadow-lg rounded block leading-normal" 
                                    (click)="toggleTabs(orderStatus.id)" 
                                    [ngClass]="{'text-primary-600 bg-white': openTab !== orderStatus.id, 'text-white bg-primary-600': openTab === orderStatus.id}">
                                    <i class="fas fa-space-shuttle text-base mr-1"></i> {{orderStatus.label}} ({{orderStatus.count}}) 
                                </a>
                            </li>
                        </ng-container>
                        <!-- <li class="-mb-px mr-2 pb-2 last:mr-0 flex-auto text-center">
                            <a class="text-xs font-bold uppercase px-5 py-3 border cursor-pointer	shadow-lg rounded block leading-normal" 
                                (click)="toggleTabs('HISTORY')" 
                                [ngClass]="{'text-primary-600 bg-white': openTab !== 'HISTORY', 'text-white bg-primary-600': openTab === 'HISTORY'}">
                                <i class="fas fa-briefcase text-base mr-1"></i> History
                            </a>
                        </li> -->
                    </ul>
                    <div>
                        <div class="overflow-x-auto mx-6">
                            <table
                                class="w-full bg-transparent"
                                mat-table
                                matSort
                                matSortDisableClear
                                [dataSource]="recentTransactionsDataSource"
                                [trackBy]="trackByFn"
                                #recentTransactionsTable>
    
                                <!-- Transaction ID -->
                                <ng-container matColumnDef="invoiceId">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Transaction ID
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{transaction.order.invoiceId}}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Date -->
                                <ng-container matColumnDef="created">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Date
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{transaction.order.created | date:'MMM dd, y'}}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Name -->
                                <ng-container matColumnDef="orderPaymentDetail.accountName">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Customer Name
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction">
                                        <span class="pr-6 whitespace-nowrap">
                                            {{transaction.order.orderPaymentDetail.accountName | titlecase }}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Amount -->
                                <ng-container matColumnDef="total">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Amount
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction">
                                        <span class="pr-6 font-medium whitespace-nowrap">
                                            {{ transaction.order.total | currency: store.regionCountry.currencySymbol }}
                                        </span>
                                    </td>
                                </ng-container>
    
                                <!-- Status -->
                                <ng-container matColumnDef="completionStatus" *ngIf="openTab === 'HISTORY'">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef>
                                        Status
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction">
                                        <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                            [ngClass]="{'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.order.completionStatus === 'PAYMENT_CONFIRMED',
                                                        'bg-yellow-200 text-yellow-800 dark:bg-yellow-600 dark:text-yellow-50': transaction.order.completionStatus === 'BEING_PREPARED',
                                                        'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50': transaction.order.completionStatus === 'AWAITING_PICKUP',
                                                        'bg-purple-200 text-purple-800 dark:bg-purple-600 dark:text-purple-50': transaction.order.completionStatus === 'BEING_DELIVERED',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.order.completionStatus === 'CANCELED_BY_MERCHANT',
                                                        'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': transaction.order.completionStatus === 'DELIVERED_TO_CUSTOMER'}">
                                            <span class="leading-relaxed whitespace-nowrap">{{transaction.order.completionStatus}}</span>
                                        </span>
                                    </td>
                                </ng-container>
                                

                                <!-- Action -->
                                <ng-container matColumnDef="action">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td
                                        mat-cell
                                        class="px-2"
                                        *matCellDef="let transaction"
                                    >
                                        <div class="flex flex-row items-center">
                                            <!-- View Receipt -->
                                            <input
                                                [id]=" 'view-receipt-' + transaction.order.id"
                                                type="button"
                                                (click)="viewDetails(transaction.order.id)"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                mat-button>
                                            <label 
                                                class="flex items-center justify-center h-10 w-10 py-2 px-1 mr-5 rounded-full cursor-pointer border border-primary bg-primary group hover:bg-white"
                                                [for]="'view-receipt-' + transaction.order.id"
                                                matRipple>
                                                <mat-icon
                                                    class="text-white group-hover:text-primary icon-size-5"
                                                    [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                                            </label>
                                            <ng-container *ngIf= "transaction.currentCompletionStatus != 'PAYMENT_CONFIRMED' && transaction.currentCompletionStatus != 'RECEIVED_AT_STORE'; else cancelTemplate">
                                                <!-- Action Button -->
                                                <input
                                                    [id]="'action-' + transaction.order.id"
                                                    type="button"
                                                    [disabled]="submitted[transaction.order.id]"
                                                    (click)="updateStatus(transaction.order, transaction.nextCompletionStatus)"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    mat-button>
                                                <label 
                                                    *ngIf="transaction.nextActionText" 
                                                    class="flex items-center justify-center w-2/3 py-2 px-1 rounded-full border border-primary border-solid group hover:bg-primary"
                                                    [ngClass]="submitted[transaction.order.id] ? 'cursor-wait' : 'cursor-pointer'"   
                                                    [for]="'action-' + transaction.order.id"
                                                    matRipple>
                                                    <span class="font-medium group-hover:text-white text-sm text-primary whitespace-nowrap">
                                                        {{ transaction.nextActionText }}
                                                    </span>
                                                </label>

                                            </ng-container>
                                            <!-- <label *ngIf="submitted">Hello

                                            </label> -->
                                            
                                            <ng-template #cancelTemplate>
                                                <mat-select
                                                    [id]="'action-select-' + transaction.order.id"
                                                    class="flex placeholder-black items-center justify-center w-2/3 py-2 px-1 rounded-full border border-primary border-solid group hover:bg-primary"
                                                    [placeholder]="'&nbsp; &nbsp; &nbsp;' + transaction.nextActionText"
                                                    [disabled]="submitted[transaction.order.id]"
                                                    [ngClass]="submitted[transaction.order.id] ? 'cursor-wait' : 'cursor-pointer' "
                                                    >
                                                    <ng-container>
                                                        <mat-option (click)="updateStatus(transaction.order, transaction.nextCompletionStatus)">{{ transaction.nextActionText }}</mat-option>
                                                        <mat-option (click)="updateStatus(transaction.order, 'CANCELED_BY_MERCHANT')">Cancel</mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </ng-template>
                                        </div>
                                    </td>
                                </ng-container>
    
                                <!-- Footer -->
                                <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td
                                        class="py-6 px-0 border-0"
                                        mat-footer-cell
                                        *matFooterCellDef
                                        colspan="6">
                                    </td>
                                </ng-container>

                                
                                <tr
                                mat-header-row
                                *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                                <tr
                                class="order-row h-16"
                                mat-row
                                *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                                <!-- <tr
                                class="h-16 border-0"
                                mat-footer-row
                                *matFooterRowDef="['recentOrdersTableFooter']"></tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-6"></div>
</div>

<mat-paginator
    class="absolute inset-x-0 bottom-0 border-b border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{'pointer-events-none': isLoading}"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator>
