<div class="flex flex-col max-w-200 md:min-w-100 -m-6">

    <div [formGroup]="addOpenItemForm">
        <!-- Compose form -->
        <div class="flex flex-col max-w-100 w-full p-6 sm:p-8 overflow-y-auto">
            <div class="flex items-center flex-auto min-w-0 justify-center  mb-4">
                <span class="text-center text-2xl font-bold text-primary">Create New Open Item</span> <br>
            </div>

            <div class="flex flex-wrap flex-col items-center justify-center w-full">
                <!-- Image frame-->
                <div class="flex flex-col justify-center items-center w-full">
                    <!-- Image Frame -->
                    <div class="w-20 h-20 border rounded overflow-hidden">
                        <ng-container *ngIf="thumbnailUrl.length; else noImage">
                            <img
                                class="w-full h-full object-cover"
                                [src]="thumbnailUrl[currentImageIndex]">
                        </ng-container>
                        <ng-template #noImage>
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            >
                                <span class="text-md">NO IMAGE</span> 
                            </div>
                        </ng-template>
                    </div>

                    <!-- Add New Image -->
                    <div class="flex items-center mt-2 whitespace-nowrap">
                        <div>
                            <input
                                id="new-image-file-input"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                type="file"
                                [multiple]="false"
                                [accept]="'image/jpeg, image/png'"
                                (change)="uploadImages(imageFileInput.files, thumbnailUrl);"
                                #imageFileInput>
                            <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                for="new-image-file-input"
                                matRipple>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                            </label>
                        </div>
                        <!-- remove image -->
                        <div>
                            <input
                                id="new-image-edit-button"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                type="button"
                                (click)="thumbnailUrl = []; imagesFile = []"
                                mat-icon-button
                            >
                            
                            <label 
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                for="new-image-edit-button"
                                matRipple>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
      
                <mat-form-field 
                    appearance="fill"
                    class="w-full">
                    <mat-label>Name</mat-label>
                    <input 
                        matInput
                        placeholder="Insert name"
                        [formControlName] = "'name'"
                        (change)="checkProductName($event.target.value)"
                    >  
                    <mat-error *ngIf="addOpenItemForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="addOpenItemForm.get('name').hasError('productAlreadyExists')">
                        '{{addOpenItemForm.get('name').value.trim()}}' already exists
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label class="font-medium">Status</mat-label>
                    <mat-select
                        required
                        floatLabel="always"
                        placeholder="Select status"
                        [formControlName]="'status'"
                        #statusSelector="matSelect"
                        >
                        <mat-select-trigger>
                            <span class="flex items-center">
                                <span>{{ statusSelector.triggerValue }}</span>
                            </span>
                        </mat-select-trigger>
                        <div>
                            <mat-option [value]="'ACTIVE'">Active</mat-option>
                            <mat-option [value]="'INACTIVE'">Inactive</mat-option>
                            <mat-option [value]="'OUTOFSTOCK'">Out of Stock</mat-option>
                        </div>
                    </mat-select>
                    <mat-error *ngIf="addOpenItemForm.get('status').hasError('required')">
                        Status is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Actions -->
            <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-2">
                <div *ngIf="message !== ''" class="mr-3 text-warn">
                    {{message}}
                </div>
                <div class="order-last flex justify-end">
                    <!-- Send -->
                    <button
                        class="bg-gray-300 hover:bg-gray-500 border border-gray-500"
                        mat-flat-button
                        [color]="'gray'"
                        (click)="cancelCreate()"
                        >
                        Cancel
                    </button>
                    
                    <button
                        class="ml-2"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="addNew()"
                        [disabled]="addOpenItemForm.pristine || addOpenItemForm.invalid"
                        >
                        Create
                    </button>
            
                </div>
            </div>
        </div>
    </div>
</div>
