<ng-container>
    <div class="shadow rounded-lg sm:rounded-2xl bg-card">
        <div class="flex flex-col flex-auto items-center m-1 p-1 sm:p-10">
            <div class="w-full px-2 sm:px-0">
                <!-- Section -->
                <div class="w-full mb-8 pt-8 sm:pt-0">
                    <div class="text-xl">Operating Hour Management</div>
                    <div class="text-secondary">This selection is to manage your store timing operating hour</div>
                </div>
                <form 
                    [formGroup]="storeTimingForm"
                    #supportNgForm="ngForm"
                    class="w-full">
                    <!-- Opening Hour -->
                    <div class="flex flex-col w-full">
                        <mat-label class="font-medium">Store Operating Hour *</mat-label>
                        <div class="mb-0.5"></div>
                        <div class="border border-gray-300 rounded h-96 overflow-auto">
                            <div class="flex flex-auto flex-wrap p-2">
                                <div class="flex flex-col w-full">
                                    <ng-container formArrayName="storeTiming" *ngFor="let dayList of storeTimingForm.get('storeTiming')['controls']; let i = index;">
                                        <fieldset [ngClass]="dayList.value.isOpen === true ? '' : 'bg-default text-gray-500'" class="flex flex-wrap flex-row w-full border border-solid border-gray-300 rounded my-1 px-3" [formGroupName]="i">
                                            <!-- Days -->
                                            <legend class="text font-bold ml-2 px-2">{{dayList.value.day | titlecase }}</legend>
                                            <input 
                                                matInput
                                                [formControlName]="'day'"
                                                [value]="dayList.value.day"
                                                readonly
                                                hidden
                                            />
            
                                            <!-- Open / Closing Toggle -->
                                            <div class="flex flex-row w-full justify-end mb-2">
                                                <mat-slide-toggle
                                                    matInput
                                                    [formControlName]="'isOpen'"
                                                    [color]="'primary'"
                                                    (change)="updateStoreOpening(dayList.value.day)">
                                                    {{dayList.value.isOpen === true ? 'Open' : 'Close'}}
                                                </mat-slide-toggle>
                                            </div>
            
                                            <div class="grid xl:grid-cols-6 gap-2 w-full">
                                                <!-- Working Hour Label -->
                                                <span class="sm:col-span-2">
                                                    Working Hour
                                                </span>
                                                
                                                <!-- Open Time -->
                                                <div class="xl:col-span-2">
                                                    <mat-form-field class="h-20 w-full" floatLabel="always" appearance="outline">
                                                        <mat-label>Start time</mat-label>
                                                        <!-- <time-selector></time-selector> -->
                                                        <time-selector
                                                            matInput
                                                            [disabled]="dayList.value.isOpen === false"
                                                            [formControlName]="'openTime'"
                                                            (change)="changeTime(i, 'closeTime' , $event)"></time-selector>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <!-- Close Time -->
                                                <div class="xl:col-span-2">
                                                    <mat-form-field class="h-20 w-full" floatLabel="always" appearance="outline">
                                                        <mat-label>End time</mat-label>
                                                        <time-selector
                                                            matInput
                                                            [disabled]="dayList.value.isOpen === false"
                                                            [formControlName]="'closeTime'"
                                                            type="time"
                                                            (change)="changeTime(i, 'closeTime' , $event)"></time-selector>
                                                        <!-- <mat-error *ngIf="storeTimingForm.get('storeCloseTime').hasError('required')">
                                                            Required
                                                        </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>
            
                                            <div class="grid xl:grid-cols-6 gap-2 w-full">
                                                <!-- Break Hour Section -->
                                                <div class="sm:col-span-2">
                                                    <!-- Closing Label -->
                                                    <span class="flex flex-col justify-center w-full">
                                                        Break Hour
                                                    </span>
                                                    <!-- Open / Closing Toggle -->
                                                    <div class="flex flex-col w-full justify-start mb-2">
                                                        <mat-slide-toggle
                                                            matInput
                                                            [disabled]="dayList.value.isOpen === false"
                                                            [formControlName]="'isBreakTime'"
                                                            [color]="'primary'"
                                                            (change)="toggleBreakHour($event, i)"
                                                            >{{dayList.value.isBreakTime === true ? 'Open' : 'Close'}}
                                                        </mat-slide-toggle>
                                                    </div>
                                                </div>
                                                <!-- Break Time Start -->
                                                <div class="xl:col-span-2">
                                                    <mat-form-field [ngClass]="dayList.value.isBreakTime === true ? '' : 'bg-default text-gray-500'" class="w-full h-20 rounded" floatLabel="always" appearance="outline">
                                                        <mat-label>Start time</mat-label>
                                                        <time-selector
                                                            matInput
                                                            [disabled]="dayList.value.isOpen === false || dayList.value.isBreakTime === false"
                                                            [formControlName]="'breakStartTime'"
                                                            type="time"
                                                            (change)="changeBreakTime(i, 'breakStartTime' , $event);"></time-selector>
                                                        <!-- <mat-error *ngIf="storeTimingForm.get('storeCloseTime').hasError('required')">
                                                            Required
                                                        </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                                <!-- Break Time End -->
                                                <div class="xl:col-span-2">
                                                    <mat-form-field [ngClass]="dayList.value.isBreakTime === true ? '' : 'bg-default text-gray-500'" class="w-full h-20 rounded" floatLabel="always" appearance="outline">
                                                        <mat-label>End time</mat-label>
                                                        <time-selector
                                                            matInput
                                                            [disabled]="dayList.value.isOpen === false || dayList.value.isBreakTime === false"
                                                            [formControlName]="'breakEndTime'"
                                                            (change)="changeBreakTime(i, 'breakEndTime' , $event)"></time-selector>
                                                        <!-- <mat-error *ngIf="storeTimingForm.get('storeCloseTime').hasError('required')">
                                                            Required
                                                        </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                                
                                            <div class="justify-between mb-2 mt-2 flex flex-row w-full ">
                                                <div *ngIf="timeAlert[i] !== 'invisible'" class="flex flex-wrap text-warn items-center">
                                                    {{timeAlert[i]}}
                                                </div>
                                                <div class="items-center">
                                                    <input
                                                        [id]="'apply-to-all-button' + i"
                                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                        type="button"
                                                        (click)="applyToAll(i)"
                                                        mat-icon-button>
                                                    <label 
                                                        class="flex items-center justify-center w-8 h-8 sm:w-28 sm:h-8 rounded-full cursor-pointer bg-primary hover:bg-primary-500"
                                                        [for]="'apply-to-all-button' + i"
                                                        matRipple>
                                                        <span class="hidden sm:block text-white text-extrabold">Apply to all</span>
                                                        <mat-icon
                                                            [matTooltip]="'Apply to all'"
                                                            class="block sm:hidden text-white icon-size-5" 
                                                            svgIcon="done_all"></mat-icon>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Actions -->
                <div class="mt-6 pb-8 sm:pb-0 flex items-center justify-end">
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        [color]="'primary'"
                        [disabled]="disabledProcced"
                        (click)="updateStoreTiming()">
                        Save
                    </button>
                </div>
            </div>   
        </div>
    </div>
</ng-container>

