<div class="flex flex-col max-w-240 md:min-w-160 -m-6">

    <!-- Compose form -->
    <div
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
    >
        <!-- <div class="flex items-center flex-auto min-w-0">
            <mat-icon
                class="w-10"
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            <span class="pl-4 text-2xl font-bold text-primary">Failed to detect location</span> <br>
        </div> -->
        <!-- <div class="flex items-center flex-auto min-w-0 mb-8">
            <span class="pl-14 text-lg">Lets start creating discount  
                <br>Fill in below 
            </span>
        </div> -->

        <div class="mb-4"></div>

        <mat-form-field 
            appearance="fill"
            class="w-full">
            <mat-label>Discount name</mat-label>
            <input 
                matInput
                placeholder="Enter discount name"
                [(ngModel)]="discountName"
                (input)="checkName();checkForm()"

            >
        </mat-form-field>

        <div class="w-full">
            <!-- Max Discount Amount -->
            <mat-form-field 
                appearance="fill"
                class="w-1/3 pr-2">
                <mat-label>Capped amount</mat-label>
                <input 
                    matInput
                    placeholder="Enter Maximum discount amount"
                    type="number"
                    [(ngModel)]="maxDiscountAmount"
                    (input)="checkDiscountAmount();checkForm()"
                >
            </mat-form-field>
            <!-- status -->
            <mat-form-field 
                appearance="fill"
                class="w-1/3 pr-2">
                <mat-label>Status</mat-label>
                <mat-select
                    class="w-full"
                    placeholder="Select status"
                    [(ngModel)]="isActive"
                    (selectionChange)="checkStatus();checkForm()"
                    >
                    <div>
                        <mat-option [value]="true">Active</mat-option>
                        <mat-option [value]="false">Inactive</mat-option>
                        
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- discount on -->
            <mat-form-field 
                appearance="fill"
                class="w-1/3">
                <mat-label>Discount on</mat-label>
                <mat-select
                    class="w-full"
                    [(ngModel)]="discountType"
                    (selectionChange)="checkDiscountType();checkForm()"
                    placeholder="Select discount to be applied"
                    >
                    
                    <div>
                        <mat-option [value]="'SHIPPING'">Shipping</mat-option>
                        <mat-option [value]="'TOTALSALES'">Total Sales</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="w-full">
            <div class="font-semibold mb-2 w-full">Start date/time</div>
            <mat-form-field 
                class="w-1/2 pr-2"
                appearance="fill">
                <input 
                    matInput 
                    type="date" 
                    [(ngModel)]="startDate"
                    (change)="checkDateTime();checkForm()"
                    [min]="minStartDate"
                >
            </mat-form-field>
            <mat-form-field 
                class="w-1/2 pl-2" 
                appearance="fill">
                <input 
                    matInput type="time" 
                    [(ngModel)]="startTime"
                    (change)="checkDateTime();checkForm()"
                    [min]="minStartTime"
                >
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="font-semibold mb-2 w-full">End date/time</div>
            <mat-form-field 
                class="w-1/2 pr-2"
                appearance="fill">
                <input 
                    matInput 
                    type="date" 
                    [disabled]="isDisabledStartDateTime"
                    [(ngModel)]="endDate"
                    (change)="checkDateTime();checkForm()"
                    [min]="minEndDate"
                >
            </mat-form-field>
            <mat-form-field 
                class="w-1/2 pl-2" 
                appearance="fill">
                <input 
                    matInput type="time" 
                    [disabled]="isDisabledStartDateTime"
                    [(ngModel)]="endTime"
                    (change)="checkDateTime();checkForm()"
                >
            </mat-form-field>

            <mat-slide-toggle
                [color]="'primary'"
                [(ngModel)]="normalPriceItemOnly"
                [matTooltip]="'To enable normal price if there is already discount applied'">
                Normal Price
            </mat-slide-toggle>
        </div>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div *ngIf="message !== ''" class="mr-3 text-warn">
                {{message}}
            </div>
            <div class="order-last">
                <!-- Send -->
                <button
                    class="bg-gray-300 hover:bg-gray-500 border border-gray-500"
                    mat-flat-button
                    (click)="cancelPickupDateTime()"
                    [color]="'gray'">
                    Cancel
                </button>
                
                <button
                    class="hover:bg-primary-500 border border-primary-500 ml-2"
                    mat-flat-button
                    [disabled]="disabledProceed"
                    (click)="addNewDiscount()"
                    [color]="'primary'">
                    Ok
                </button>
           
            </div>
        </div>
    </div>
</div>
