<div class="flex flex-col max-w-440 md:min-w-160 -m-6">
    
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto h-140">
        
        <div class="border border-solid border-gray-300 rounded my-2 mx-2 py-3 px-2">
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 md:px-8 ">
            <!-- 
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-40">
                                                        
                    <input type="text"
                        placeholder="Category"
                        aria-label="Category"
                        matInput
                        (input)="filterProductsOrCategories('CATEGORY',$event)"
                        [value]="inputSearchCategory"
                        (keydown)="filterProductsOrCategoriesInputKeyDown('CATEGORY',$event)"
                        [matAutocomplete]="auto">

                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getCategoryName.bind(this)">
                        <mat-option *ngFor="let listing of filteredCategories;" [value]="listing.id" (onSelectionChange)="onSelectCategoryList(listing.id)">
                            {{listing.name}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field> -->

                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-40">
                    <mat-select
                        class="w-full"
                        placeholder="Category"
                        (selectionChange)="onSelectCategoryList($event)">
                        <div>
                            <mat-option [value]="">All Categories</mat-option>
                            <mat-option *ngFor="let listing of filteredCategories;" [value]="listing.id">
                                {{listing.name}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-40">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        matInput
                        [autocomplete]="'off'"
                        [placeholder]="'Products'"
                        (input) = "inputSearchProduct($event)">
                </mat-form-field>
            </div>
            <!-- <div class="font-extrabold tracking-tight">Product Listing</div> -->
            <table *ngIf="(products$ | async) as products" class="table-auto my-4 mr-2 w-full sm:flex-row">
                <tr class="border-b border-gray-300 pt-2 pl-2">
                    <th>Select</th>
                    <th>Product Name</th>
                    <th>Original Price</th>
                </tr>
                <tr class="border-b border-gray-300 pt-2 pl-2" *ngFor="let productList of products;let i =index;" >
                    <td>
                        <mat-checkbox  
                        class="flex items-center h-10 min-h-10 px-4"
                        [color]="'primary'"
                        (change)="onChangeSelectProduct(productList,$event)"
                        [checked]="onChangeSelectProductValue.includes(productList.id)"
                        >
                            
                        </mat-checkbox>
                    </td>
                    <td>{{productList.name}}</td>
                    <td>{{productList.productInventories[0].price}}</td>

                </tr>
            </table>

            <div class="flex items-center justify-between w-full sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
                <mat-paginator
                #_paginator
                [ngClass]="{'pointer-events-none': isLoading}"
                [length]="productPagination.length"
                [pageIndex]="productPagination.page"
                [pageSize]="productPagination.size"
                [pageSizeOptions]="[5]"
                [showFirstLastButtons]="true">
                </mat-paginator>
                <div>
                    <div class="order-last">
                        <!-- Send -->
                        <button
                            mat-flat-button
                            (click)="addProductDiscount()"
                            [color]="'primary'">
                            Add Product Discount
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="border border-solid border-gray-300 rounded my-2 mx-2 py-3 px-3">
            <table *ngIf="(storeDiscountProduct$ | async) as storeDiscountProducts" class="table-auto my-4 mr-2 w-full sm:flex-row">
                <tr class="border-b border-gray-300 pt-2 pl-2">
                    <th>Product Name (SKU)</th>
                    <th>Original Price</th>
                    <th>Discount%</th>
                    <th>Action</th>
                </tr>
                <tr class="border-b border-gray-300 pt-2 pl-2" *ngFor="let productDiscountList of storeDiscountProducts;let i =index;" >
                    <td>{{ productDiscountList.productInventory.product.name + " ( "+productDiscountList.productInventory.sku +  " ) " }}</td>
                    <td>{{productDiscountList.productInventory.price}}</td>
                    <td>
                     
                            <mat-form-field>
                                <input
                                    type="number"
                                    matInput
                                    [value]="productDiscountList.discountAmount"
                                    (input)="inputEditDiscountAmount($event)"
                                    [disabled]="!editModeDiscountProduct[i]"

                                >
                            </mat-form-field>
                        
                      
                    </td>
                    <td>
                        <div class="flex flex-wrap items-center justify-center ">
                            <input
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="button"
                            [id]="'edit-button'+productDiscountList.id"
                            (click)="editModeDiscountProduct[i] = !editModeDiscountProduct[i]"
                            >
                            <label
                            *ngIf="!editModeDiscountProduct[i]"
                            class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400  mr-3 mb-3"
                            [for]="'edit-button'+productDiscountList.id"
                            matRipple>
                            <mat-icon
                                class="text-white icon-size-5"
                                [svgIcon]="'heroicons_outline:pencil-alt'">
                            </mat-icon>
                            </label>

                            <input
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="button"
                            [id]="'update-button'+productDiscountList.id"
                            (click)="editModeDiscountProduct[i] = !editModeDiscountProduct[i]"
                            (click)="editStoreProductDiscount(productDiscountList)"
                            >
                            <label
                                *ngIf="editModeDiscountProduct[i]"
                                class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-blue-600 hover:bg-blue-400  mr-3 mb-3"
                                [for]="'update-button'+productDiscountList.id"
                                matRipple>
                                <mat-icon
                                    class="text-white icon-size-5"
                                    [svgIcon]="'heroicons_outline:check'">
                                </mat-icon>
                            </label>

                            <input
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="button"
                            [id]="'delete-button'+productDiscountList.id"
                            (click)="deleteStoreProductDiscount(productDiscountList)"
                            >
                            <label
                                class="flex items-center justify-center w-9 h-9 rounded-full cursor-pointer bg-warn hover:bg-warn-700 mb-3"
                                [for]="'delete-button'+productDiscountList.id"
                                matRipple>
                                <mat-icon
                                    class="text-white icon-size-5"
                                    [svgIcon]="'heroicons_outline:trash'">
                                </mat-icon>
                            </label>
                        </div>
                    </td>

                </tr>

            </table>
            <div class="flex items-center justify-between w-full sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
                <mat-paginator
                #_paginatorDiscountProduct
                [ngClass]="{'pointer-events-none': isLoading}"
                [length]="storeDiscountPagination.length"
                [pageIndex]="storeDiscountPagination.page"
                [pageSize]="storeDiscountPagination.size"
                [pageSizeOptions]="[5]"
                [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
        
        <div class="flex items-center justify-between w-full sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div></div>
            <div class="flex items-center">
                <button
                class="bg-gray-300 hover:bg-gray-500 border border-gray-500 flex items-center"
                mat-flat-button
                (click)="closeDialog()"
                [color]="'gray'">
                Close
                </button>
            </div>
        </div>
      
  
</div>
